<%

mailboxes = []
Gw::WebmailMailbox.load_mailboxes.each do |box|
  next if box.name =~ /^(Drafts|Sent|Trash|Star)(\.|$)/
  mailboxes << [box.slashed_title, "#{box.name}"]
end

%><div id="signContent">
  
<div class="actionMenu">
<%= action_menu :index %>
<%= action_menu :show %>
</div>

<%= form_for :f_item, :url => {:action => :apply} do |f| %>

<%= f.error_messages %>

<table class="show">
  <tr>
    <th>アカウント</th>
    <td>
      <%= "#{Core.current_user.name}（#{Core.current_user.account}）" %>
    </td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%=h @item.name %></td>
  </tr><tr>
    <th>適用するフォルダ</th>
    <td>
      <%= f.select :mailbox, mailboxes, :include_blank => true %>
      <%= f.check_box :include_sub %><label for="f_item_include_sub">サブフォルダを含める</label>
    </td>
  </tr>
</table>

<%= raw submit([['適用する', 'apply']]) %>

<% end %>

</div>

