<%= f.error_messages %>

<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= f.collection_radio_buttons :state, @item.states, :last, :first, class: 'status' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :parent_id %></th>
    <td><%= f.select :parent_id, @item.root? ? [['', 0]] : Sys::Group.select_options_except(@item) %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :code %></th>
    <td><%= f.text_field :code, class: 'id' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= f.text_field :name, class: 'name' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name_en %></th>
    <td><%= f.text_field :name_en, class: 'nameEn' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :ldap %></th>
    <td><%= f.collection_radio_buttons :ldap, @item.ldap_states, :last, :first, class: 'status' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= f.text_field :sort_no, class: 'number' %></td>
  </tr>
</table>

<div class="submitters">
  <%= f.submit %>
</div>
