<div class="navi">
<% ancestors = @parent.ancestors %>
<% ancestors.each_with_index do |c, k| %>
<%= link_to h(c.name), sys_groups_path(c) %>
<% if ancestors.size != k + 1 %>&gt;<% end %>
<% end %>
</div>

<div class="actionMenu">
<%= action_menu :new, ['新規グループ', new_sys_group_path] %>
<%= action_menu :new, ['新規ユーザー', new_sys_group_user_path] %>
<%= action_menu :assign_sort_no, ['並び順採番', assign_sort_no_sys_groups_path], data: { confirm: '並び順を採番してよろしいですか？' } %>
<%= action_menu :index %>
<%= action_menu :show %>
<%= action_menu :edit    if safe{@item.editable?} %>
<%= action_menu :destroy if safe{@item.deletable?} %>
</div>
