<p class="form">基本情報</p>

<table class="show">
  <% if @parent.id == 0 %>
    <tr>
      <th><%= @item.class.human_attribute_name :tenant_code %></th>
      <td><%= @item.tenant_code %></td>
    </tr>
  <% else %>
    <tr>
      <th><%= @item.class.human_attribute_name :parent_id %></th>
      <td><%= @item.parent.name if @item.parent %></td>
    </tr>
  <% end %>
  <tr>
    <th><%= @item.class.human_attribute_name :code %></th>
    <td><%= @item.code %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name_en %></th>
    <td><%= @item.name_en %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.status.name if @item.status %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :ldap %></th>
    <td><%= @item.ldap_text %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr>
</table>
