<%

def children(group)
  %><%= "\n" %><%
  %><div class="group"><%= "#{group.code} / #{group.name} / #{group.name_en} / #{group.email}" %></div><%
  group_users = group.ldap_users
  group_children = group.ldap_children
  if group_users.size > 0
    %><%= "\n" %><%
    %><div class="users">
      <%= group_users.collect{|u| u.name}.join(', ') %></div>
    <%
  end
  if group_children.size > 0
    %><%= "\n" %><%
    %><div class="groups"><%
    group_children.each {|c| children(c)}
    %></div><%
  end
end

%>
<style type="text/css">
#ldapView { margin-top: 15px; }
#ldapView .groups { margin: 10px 0px 0px 20px; }
#ldapView .group  { margin: 12px 0px 0px 0px; padding: 4px 6px; background-color: #ddd; color: #060; }
#ldapView .users  {
  margin: 0px 0px 0px 0px; padding: 4px 6px;
  border: 1px solid #ddd; border-width: 0px 1px 1px 1px;
  font-size: 80%; line-height: 1.3; font-family: verdana; }
</style>

<%= form_for :item, url: { action: :synchronize } do |f| %>
  <div class="submitters">
    <span id="message" style="display:none; color: #b40; text-align: center;">処理を開始しました。そのままでお待ちください。<br /><br /></span>
    <%= hidden_field_tag :version_id, @version %>
    <input type="submit" value="同期する" onclick="document.getElementById('message').style.display='block';" />
  </div>
<% end %>

<div id="ldapView">
<% @groups.each { |group| children(group) } if @groups.present? %>
</div>
