<%= f.error_messages %>

<% case @item.input_type %>
<% when :select, :text_field, :password_field %>
  <table class="show">
    <tr>
      <th>設定名</th>
      <td><%= @item.config_name %></td>
    </tr><tr>
      <th>設定値</th>
      <td>
        <% if @item.input_type == :select %>
          <%= f.select :value, @item.options %>
        <% elsif @item.input_type == :text_field %>
          <%= f.text_field :value, style: "width: 300px;" %>
        <% elsif @item.input_type == :password_field %>
          <%= f.password_field :value, style: "width: 300px;", value: @item.value %>
        <% end %>
        <%=raw @item.message if @item.message %>
      </td>
    </tr>
  </table>
<% when :account_password_field %>
  <%= render 'gw/admin/webmail/settings/account_password_field/form' %>
<% when :label_color_field %>
  <%= render 'gw/admin/webmail/settings/label_color_field/form' %>
<% end %>

<div class="submitters">
  <%= f.submit %>
</div>
