<script type="text/javascript">
//<![CDATA[
window.onload = function() {
  toggleCategories('<%= params[:category] %>');
};
function toggleCategories(current) {
  var tabs = $('category_tabs').getElementsByTagName("a");
  for (var i = 0;i < tabs.length;i++) {
    if (tabs[i].id == current + '_tab') continue;
    tabs[i].className = '';  
  }
  var configs = $('category_configs').getElementsByTagName("table");
  for (var i = 0;i < configs.length;i++) {
    if (configs[i].id == current + '_config') continue;
    var target = $(configs[i].id);//for IE
    if (target && target.visible()) target.hide();  
  }
  var currentTab = $(current + '_tab');
  if (currentTab) currentTab.className = 'current';
  var currentConfig = $(current + '_config');
  if (currentConfig && !currentConfig.visible()) currentConfig.show();
  return false;
}
//]]>
</script>
<div id="settingContent">

<div class="categoryTabs" id="category_tabs">
<% @categories.each do |category| %>
  <%= link_to category.title, "#", :id => "#{category.name}_tab",
    :onclick => "return toggleCategories('#{category.name}');" %>
<% end %>  
</div>

<div class="configs" id="category_configs">
<% @categories.each do |category| %>
<table class="index" id="<%= category.name %>_config"  style="display:none;">

  <tr>
    <th style="width: 60px; text-align: center;">編集</th>
    <th style="width: 200px;">設定名</th>
    <th style="">設定値</th>
  </tr>

  <% category.configs.each do |conf| %>
  <tr <%= cycle '', 'class="cycle"' %>>
    <td style="text-align: center;"><%= link_to :edit, url_for(:action => :edit, :category => category.name, :id => conf.name) %></td>
    <td><%= conf.config_name %></td>
    <td><%= conf.value_name || "未設定" %></td>
  </tr>
  <% end %>

</table>
<% end %>
</div>

</div>
