<script type="text/javascript">
//<![CDATA[
function getSubmitButton() {
  return $('item_form').commit_edit;
}
//]]>
</script>
<div id="templateContent">
<%= render :partial => 'menu' %>

<%= form_for :item, :url => {:action => :update}, :html => {:id => "item_form", :method => :put} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= raw submit(:edit) %>
<% end %>

</div>
