<div class="mailboxTitle">
  <%= link_to @mailbox.title, { mobile: :list, page: 1 }, class: 'link' %>
</div>

<%= form_for :item, url: { action: :mobile_manage }, html: { id: 'mailForm', name: 'mailForm', class: 'mailForm' } do |f| %>
<input type="hidden" name="page" value="<%= params[:page] %>" />
<%= render 'webmail/admin/mails/index/mail_list', items: @items %>

<div class="pagination">
<%= paginate @items, page_links: false %>
</div>

<div class="managementMenu">
<div class="title"><img alt="管理メニュー" src="/_common/themes/admin/gw/webmail/mobile/images/manage-menu-blue.jpg" />管理メニュー</div>
<div class="menus">
<%= submit_tag '移動', name: 'mobile_move', class: 'menuItem', accesskey: '1' %>
<%= submit_tag 'コピー', name: 'mobile_copy', class: 'menuItem', accesskey: '2' %>
<%= submit_tag '削除', name: 'mobile_delete', class: 'menuItem', accesskey: '3' %>
<%= submit_tag '既読にする', name: 'mobile_seen', class: 'menuItem', accesskey: '4' %>
<%= submit_tag '未読にする', name: 'mobile_unseen', class: 'menuItem', accesskey: '5' %>
</div>
</div>

<% end %>

<div class="searchMenu">
<div class="title">検索</div>
<div class="menus">
<%= render 'search_mobile' %>
</div>
</div>
