<div id="mails" class="mailItems">
<% items.each do |item| %>
  <%
    from, s_from, from_tooltip = mail_from_display(item, @mailbox, @conf.mail_list_from_address.present?)
  %>
  <div class="mailItem<%= ' unseen' if item.unseen? %>">
    <input type="checkbox" name="item[ids][<%= item.uid %>]" value="1" />
    <%= link_to image_tag(mail_star_image_path(item), alt: item.starred? ? 'スター' : ''), { action: :star, id: item.uid, from: :list } %>
    <% if item.labels.present? %>
      <font class="labels">
        <%= render 'webmail/admin/mails/shared/label', labels: item.labels, label_confs: @conf.mail_labels %>
      </font>
    <% end %>
    <% if item.priority.present? %>
      <span class="priority priority<%= item.priority %>"><%= mail_priority_label(item) %></span>
    <% end %>
    <font class="subject <%= mail_flags(item).join(' ') %>"><%= link_to mail_text_wrap(truncate(item.subject, length: 30, escape: false).presence || ' ', 1000), { action: :show, id: item.uid } %></font>
    <% if item.has_attachments? %>
    <img src="/_common/themes/admin/gw/webmail/mobile/images/clip.jpg" alt="[有]" />
    <% end %>
    <br />
    <% if @mailbox.virtual_box? %>
      <font class="mailbox"><%= mailbox_title(@mailboxes, item.x_mailbox) %></font><br />
    <% end %>
    <font class="date"><%= mail_short_date(item) %></font>
    <font class="from"><%= mail_text_wrap(from.gsub(/["']/, ""), 1000) %></font><br />
  </div>
<% end %>
</div>
