<% if maintenance = Sys::Maintenance.latest_maintenance %>
<div id="maintenance">
  <%= link_to "#{maintenance.title} #{l(maintenance.published_at)}", webmail_mails_path('INBOX', mobile: :maintenance), class: 'maintenanceLink' %>
</div>
<% end %>

<div class="folderTitle">
  <span>フォルダー</span>
</div>
<%= render 'webmail/admin/mails/shared/mailbox' %>

<div class="sendMenu">
  <div class="title"><span>送信メニュー</span></div>
  <div class="menus">
    <%= link_to 'メール作成', new_webmail_mail_path('INBOX'), class: 'createMail' %><br />
    <%= link_to t('webmail.menus.sys_address'), webmail_sys_addresses_path, class: 'sysAddress' %>
    <%= link_to t('webmail.menus.address_group'), webmail_address_groups_path, class: 'addressGroup' %>
    <%= link_to t('webmail.menus.memo'), webmail_memo_path(0), class: 'memo' %>
  </div>
</div>

<% if Joruri.config.sso_settings %>
<div class="linkMenu">
  <div class="title">リンク</div>
  <div class="menus">
    <%= link_to 'グループウェア', _admin_sso_path(to: 'gw'), class: 'gw' %><br/>
  </div>
</div>
<% end %>

