<h1 class="joruriMail">
  <%= link_to 'Joruri Mail', webmail_mails_path(mailbox: 'INBOX', mobile: :top) %>
</h1>

<span class="department"><%= Core.user_group.name if Core.user_group %></span>
<span class="name"><%= Core.user.name_with_account if Core.user %></span>

<div class="menu">
<%= link_to 'メール受信', webmail_mails_path('INBOX', mobile: 'top', date: Time.now.to_f.to_s, reload: true), class: 'index', title: 'メール受信' %>
<%= link_to 'メール作成', new_webmail_mail_path('INBOX'), class: 'newMail', title: 'メール作成' %>
</div>
