<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="<%= request.mobile.default_charset %>" />
<%= csrf_meta_tag %>
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
<title><%= Core.title %></title>
<%= javascript_include_tag :application %>
<%= stylesheet_link_tag '/_common/themes/admin/gw/webmail/mobile/smartphone', media: 'all' %>
</head>
<body>

<div id="smartPhoneContainer">

<div id="header">
<div id="headerContainer">
<div id="headerBody">

<%= render 'layouts/admin/webmail/header_smart_phone' %>

<!-- end #headerBody --></div>
<!-- end #headerContainer --></div>
<!-- end #header --></div>

<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
<% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>

<div id="content">
<div id="contentContainer">
<div id="contentBody">

<%= yield %>

<!-- end #contentBody --></div>
<!-- end #contentContainer --></div>
<!-- end #content --></div>

<div id="footer">
<div id="footerContainer">
<div id="footerBody">

<%= render 'layouts/admin/webmail/footer_smart_phone' %>

<!-- end #footerBody --></div>
<!-- end #footerContainer --></div>
<!-- end #footer --></div>

<!-- end #container --></div>

</body>
</html>
