<%= f.error_messages %>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :code %></th>
    <td><%= f.text_field :code %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= f.text_field :name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :mail_domain %></th>
    <td><%= f.text_field :mail_domain, class: 'email' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :default_pass_limit %></th>
    <td><%= f.collection_radio_buttons :default_pass_limit, @item.class.default_pass_limit.options, :last, :first %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :default_pass_prefix %></th>
    <td><%= f.text_field :default_pass_prefix %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :login_control %></th>
    <td><%= f.collection_radio_buttons :login_control, @item.class.login_control.options, :last, :first %></td>
  </tr>
</table>

<div class="submitters">
  <%= f.submit %>
</div>
