<% mailboxes.each do |box| %>
  <%
    li_class = mailbox_list_class(box)
    nm_class = mailbox_name_class(box, @mailbox)
  %>
  <li class="<%= li_class %>">
    <%= link_to h(box.title), url_for(action: :index, mailbox: box.name), class: nm_class, id: "mailbox_#{box.name}", data: { mailbox: box.name } %>
    <% if box.unseen > 0 %>
      <span class="unseenNum">(<span class="num"><%= box.unseen %></span>)</span>
    <% end %>
    <% if box.trash_box? && (box.messages > 0 || box.children.length > 0) %>
      <%= link_to '≫空にする', empty_gw_webmail_mails_path(box.name), class: 'empty', data: { confirm: '空にしてよろしいですか？' } %>
    <% end %>
    <% if box.children.size > 0 %>
      <ul class="children level<%= level_no %>">
        <%= render 'gw/admin/webmail/mails/shared/mailbox_children', mailboxes: box.children %>
      </ul>
    <% end %>
  </li>
<% end %>
