<h1 class="joruriMail">
  <%= link_to 'Joruri Mail', gw_webmail_mails_path(:mailbox => 'INBOX', :mobile => :top) %>
</h1>

<span class="department"><%= safe{Core.user_group.name} %></span>
<span class="name"><%=h safe{Core.user.name_with_account} %></span>

<div class="menu">
<%= link_to 'メール受信', gw_webmail_mails_path('INBOX', :mobile => 'top', :date => Time.now.to_f.to_s), :class => 'index', :title => 'メール受信' %>
<%= link_to 'メール作成', new_gw_webmail_mail_path('INBOX'), :class => 'newMail', :title => 'メール作成' %>
</div>