<div class="groups"><%= Joruri.config.application['webmail.address_group_menu'] %></div>
<div class="priUser">
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :name %></font>
  <font class="value"><%= @item.name %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :kana %></font>
  <font class="value"><%= @item.kana %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :sort_no %></font>
  <font class="value"><%= @item.sort_no %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :email %></font>
  <font class="value"><%= @item.email %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :mobile_tel %></font>
  <font class="value"><%= @item.mobile_tel %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :uri %></font>
  <font class="value"><%= @item.uri %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :tel %></font>
  <font class="value"><%= @item.tel %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :fax %></font>
  <font class="value"><%= @item.fax %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :zip_code %></font>
  <font class="value"><%= @item.zip_code %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :address %></font>
  <font class="value"><%= @item.address %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :company_name %></font>
  <font class="value"><%= @item.company_name %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :company_kana %></font>
  <font class="value"><%= @item.company_kana %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :official_position %></font>
  <font class="value"><%= @item.official_position %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :company_tel %></font>
  <font class="value"><%= @item.company_tel %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :company_fax %></font>
  <font class="value"><%= @item.company_fax %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :company_zip_code %></font>
  <font class="value"><%= @item.company_zip_code %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :company_address %></font>
  <font class="value"><%= @item.company_address %></font>
</div>
<% if @item.memo.present? %>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :memo %></font>
  <font class="value"><%= @item.memo %></font>
</div>
<% end %>
</div>

<div class="newMailMenu">
<%= form_tag mobile_manage_webmail_address_groups_path, { id: 'mailForm', name: 'mailForm', class: 'mailForm' } do |f| %>
  <%= hidden_field_tag "to[#{@item.id}]", '1' %>
  <%= hidden_field_tag :group_id, params[:group_id] %>
  <%= submit_tag 'メール作成', class: 'menuItem', name: 'createMail', accesskey: '1' %>
<% end %>
</div>

<%= link_to '<戻る', webmail_address_groups_path(group_id: params[:group_id]), class: 'link' %>
