<% if Joruri.config.application['webmail.attachment_file_upload_from_smart_phone'] == 1 %>
<table id="mailAddresses" class="mailAttributes fileUploader" style="margin-bottom: 5px;">
  <tr>
    <td>
      <div id="defaultUploader">
        <%= f.file_field :in_files, name: 'item[in_files][]', size: 90, class: 'file' %><br />
        <input type="button" value="選択したファイルを添付" id="commit_file" name="commit_file" style="display: none;" />
      </div>
      <div id="fileUploaderProgress" style="display:none;">
        <div class="progressWrapper">
          <div class="progressContainer">
            <div class="progressBarName"></div>
            <div class="progressBarStatus">uploading...</div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
<% end %>

<table id="uploadedFiles" class="index" bgcolor="white">
  <% if (message = mail_form_download_message).present? %>
  <tr>
    <td class="attention" colspan="2">
      <%= message %>
    </td>
  </tr>
  <% end %>
</table>
<script id="uploadFileTemplate" type="text/x-jsrender">
  <tr class="uploadedFile" id="uploadedFile{{:id}}">
    <td>
      {{if downloadable}}
        {{if image_is == 1}}
          <a href="<%= gw_webmail_mail_attachments_path %>/{{:id}}?tmp_id={{:tmp_id}}&filename={{:name}}" class="uploadedFileName {{:css_class}}" target="_blank">{{>title}}</a>
        {{else}}
          <a href="<%= gw_webmail_mail_attachments_path %>/{{:id}}?tmp_id={{:tmp_id}}&filename={{:name}}" class="uploadedFileName {{:css_class}}">{{>title}}</a>
        {{/if}}
      {{else}}
        {{>title}}
      {{/if}}
    </td>
    <td>
      <a href="#deleteUploadedFile" data-id="{{:id}}" class="deleteUploadedFile" title="削除">x</a>
      <input type="hidden" value="{{:id}}" name="item[tmp_attachment_ids][]">
    </td>
  </tr>
</script>

<%
attachment_file_max_size = Joruri.config.application['webmail.attachment_file_max_size']
%>
<script type="text/javascript">
//<![CDATA[
function isFileUploadSupported() {
  try {
    var input = document.createElement('input');
    input.type = 'file';
    input.style.display = 'none';
    document.getElementsByTagName('body')[0].appendChild(input);
    if (input.disabled) {
      return false;
    }
  } catch(ex){
     return false;
  } finally {
    if (input) {
      input.parentNode.removeChild(input);
    }
  }
  return true;
}
$(function() {
  var attachments = <%=
    @item.tmp_attachments.map {|at|
      mail_attachment_view_model(at, tmp_id: @item.tmp_id, downloadable: attachment_file_downloadable?)
    }.to_json.html_safe
  %>
  $('#uploadedFiles').append( $('#uploadFileTemplate').render(attachments) );

  if (!isFileUploadSupported()) {
    $('table.fileUploader').hide();
  }

  $('#item_in_files').on('change', function() {
    var maxsize = <%= attachment_file_max_size %>*1024*1024;
    if (this.value == '') { return; }
    if (this.files) {
      if (this.files[0].size > maxsize) {
        alert('ファイルサイズが容量制限（<%= attachment_file_max_size %>MB）を超えています。');
        return;
      }
    }
    $('#fileUploaderProgress .progressBarName').text(this.value);
    $('#fileUploaderProgress').show();
    $('#commit_file').click();
  });
  $('#commit_file').on('click', function() {
    checkServerStatus(this);
    return false;
  });
  $('a[href="#deleteUploadedFile"]').on('click', function() {
    var id = $(this).attr('data-id')
    $.post('<%= gw_webmail_mail_attachments_path %>/' + id, {
      _method: 'delete',
      authenticity_token: '<%= form_authenticity_token %>',
      tmp_id: '<%= @item.tmp_id %>'
    })
    .done(function(data) {
      $('#uploadedFile' + id).remove();
      toggleUploadedFiles();
    });
    return false;
  });
  function toggleUploadedFiles() {
    var elem = $('#uploadedFile');
    if (elem.children().length) {
      elem.show();
    } else {
      elem.hide();
    }
  }
});
//]]>
</script>
