<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title><%= Core.title %></title>
<%= javascript_include_tag :application %>
<%= stylesheet_link_tag '/_common/themes/admin/gw/style', media: 'all' %>
<%= stylesheet_link_tag '/_common/themes/admin/gw/webmail/style', media: 'all' %>
<%= stylesheet_link_tag '/_common/themes/admin/gw/print', media: 'print' %>
</head>
<body>

<div id="container">

<div id="header">
<div id="headerContainer">
  
  <h1><a href="/webmail">Joruri Mail</a></h1>
  <div class="menu">
    <span class="user">
      <%= Core.user_group.full_name if Core.user_group %>　<%= Core.user.name_with_account if Core.user %></span>
    <span class="link">
      <a class="logout" href="/_admin/logout">ログアウト</a></span>
  <span class="previousLogin">
    前回ログイン日時　<%= Core.user && Core.user.previous_login_date ? l(Core.user.previous_login_date) : '---' %>
  </span>
  </div>

<!-- /#headerContainer --></div>
<!-- /#header --></div>

<div id="banner">
<div id="bannerContainer">

<!-- /#bannerContainer --></div>
<!-- /#banner --></div>

<div id="navi">
<div id="naviContainer">

<!-- /#navigationContainer --></div>
<!-- /#navigation --></div>

<div id="main">

<%= render 'layouts/admin/webmail/maintenance' %>
<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>

<div id="content">
<div id="contentContainer">

<div id="contentHeader">
  <%= render controller.controller_path + '/header' %>
</div>

<div id="contentBody">
<%= yield  %>
</div>

<div id="contentFooter"></div>

<!-- /#contentContainer --></div>
<!-- /#content --></div>

<div id="menu">
<div id="menuContainer">

<!-- /#menuContainer --></div>
<!-- /#menu --></div>

<!-- /#main --></div>

<div id="footer">
<div id="footerContainer">

<%#= :footer %>

<!-- /#footerContainer --></div>
<!-- /#footer --></div>

<!-- /#container --></div>

</body>
</html>
