<div id="maintenances" class="piace">
<div class="piaceHeader">
  <div class="title">メンテナンス情報
    <%= link_to '［管理］', sys_maintenances_path if Core.user.has_auth?(:manager)%></div>
</div>

<div class="piaceBody">
<ul>
  <% if @maintenances.size == 0 %>
  <li>お知らせはありません</li>
  <% end %>
  
  <% @maintenances.each do |item| %>
  <% eid = "maintenance#{item.id}" %>
  <li>
    <p>
      <a href="#showMaintenance" data-id="<%= eid %>">
      <%= item.title %></a> （<%=l item.published_at if item.published_at %>）
    </p>
    <div id="<%= eid %>" class="body"><%=raw item.body %></div>
  </li>
  <% end %>
</ul>
</div>

<div class="piaceFooter"></div>

</div>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('a[href="#showMaintenance"]').on('click', function() {
    $('#' + $(this).attr('data-id')).toggle();
    return false;
  });
});
//]]>
</script>
