<div id="messages" class="piace">
<div class="piaceHeader">
  <div class="title">お知らせ
    <%= link_to '［管理］', sys_messages_path if Core.user.has_auth?(:manager) %></div>
</div>

<div class="piaceBody">
<ul>
  <% if @messages.size == 0 %>
  <li>お知らせはありません</li>
  <% end %>
  
  <% @messages.each do |item| %>
  <% eid = "message#{item.id}" %>
  <li>
    <p>
      <a href="#showMessage" data-id="<%= eid %>">
      <%= item.title %></a> （<%=l item.published_at if item.published_at %>）
    </p>
    <div id="<%= eid %>" class="body"><%=raw item.body %></div>
  </li>
  <% end %>
</ul>
</div>

<div class="piaceFooter"></div>

</div>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('a[href="#showMessage"]').on('click', function() {
    $('#' + $(this).attr('data-id')).toggle();
    return false;
  });
});
//]]>
</script>
