<%= content_for :header do %>
<%= javascript_include_tag '/_common/js/jquery/jquery.ui.datepicker-ja.js' %>
<%= stylesheet_link_tag '/_common/js/jquery/jquery.ui.datepicker.css' %>
<% end %>

<script type="text/javascript">
//<![CDATA[
(function($) {
  $(function() {
    $('input.datepicker').datepicker();
  });
})(jQuery);

var confirm_before_submit = function(form) {
  if (confirm('ごみ箱に移動せず、直接削除します。\n（元に戻すことはできません）')) {
    $('batchDeleteForm').submit();
  }
}
//]]>
</script>

<table id="webmailContainer"><tr><td id="webmailMenu">
<div id="webmailMenuContainer">

<%= render :partial => "upper_menu" %>

</div>
</td><td id="webmailContent"><div id="toolContent">

<p class="form">一括削除</p>
<%= error_messages_for :item %>
<%= form_for :item, :html => {:id => 'batchDeleteForm'} do |f| %>
<table class="show">
  <tr>
    <th>アカウント</th>
    <td>
      <%= "#{Core.current_user.name}（#{Core.current_user.account}）" %>
    </td>
  </tr>
  <tr>
    <th>対象フォルダ</th>
    <td>
      <%= f.select :mailbox_id, options_for_select([["全てのフォルダ", 0]] + mailbox_selection(@mailboxes, :except => ['Star']), @item.mailbox_id.to_i) %>
    </td>
  </tr>
  <tr>
    <th>削除開始日</th>
    <td>
      <%= f.text_field :start_date, :class => 'datepicker' %>
    </td>
  </tr>
  <tr>
    <th>削除終了日</th>
    <td>
      <%= f.text_field :end_date, :class => 'datepicker' %>
    </td>
  </tr>
  <tr>
    <th>スター付きメール</th>
    <td>
      <%= f.check_box :include_starred %><%= f.label :include_starred, 'スター付きメールを削除する' %>
    </td>
  </tr>
</table>
<br />
<div class="submitters">
  <%= submit_tag "一括削除する", :onclick => "confirm_before_submit(this); return false;" %>
</div>
<% end %>

</div><!-- end #webmailContainer --></td></table>
