<%
params[:group_id] = nil if params[:clear]
if params[:group_id].present?
  @group = Sys::Group.find_by!(id: params[:group_id])
  @group_options = @group.ancestors_and_children_options(with_root: @roots.size != 1)
  @users = @group.users_having_email.reorder(Webmail::Setting.sys_address_orders)
else
  @group = nil
  @group_options = @groups.map { |g| [g.name, g.id] }
  @users = []
end
%>

<div class="groups"><%= t('webmail.menus.sys_address') %></div>
<%= form_tag webmail_sys_addresses_path, { id: 'groupForm', name: 'groupForm', class: 'groupForm', method: :get } do |f| %>
  <%= select_tag :group_id, options_for_select(
    [["// 選択してください",'']] + @group_options, params[:group_id].to_i), class: 'selectUI' %><br/>
  <%= submit_tag "検索", name: 'select', class: 'menuItem' %>
  <%= submit_tag "リセット", name: 'clear', class: 'menuItem' %>
<% end %>

<div class="group"><%= @group.name if @group %></div>

<%= form_for :item, url: mobile_manage_webmail_sys_addresses_path, html: { id: 'mailForm', class: 'mailForm', name: 'mailForm' } do |f| %>
  <% if @users.blank? %>
  <% if params[:group_id].present? %>
  <div class="notice">次の階層を選択してください。</div>
  <% end %>
  <% else %>
  <div class="addressItems">
    <div class="captions">
      <font class="to">To</font>
      <font class="cc">Cc</font>
      <font class="bcc">Bcc</font>
    </div>
    <% @users.each do |u| %>
    <div class="addressItem">
      <input type="checkbox" name="to[<%= u.id %>]" class="checkUI" value="1" />
      <input type="checkbox" name="cc[<%= u.id %>]" class="checkUI" value="1" />
      <input type="checkbox" name="bcc[<%= u.id %>]" class="checkUI" value="1" />
      <%= link_to "#{u.name} <#{u.email}>", webmail_sys_address_path(u.id, group_id: @group.id), class: 'name' %><br/>
    </div>
    <% end %>
  </div>
  <%= submit_tag 'アドレス選択', class: 'menuItem', name: 'selectAddress' %>
  <% end %>
  <% if [:to, :cc, :bcc].any? { |type| session[:mobile] && session[:mobile][type].present? } %>
  <div class="selectedTitle">選択済みアドレス</div>
  <div class="selectedAddresses">
  <% [:to, :cc, :bcc].each do |type| %>
    <% if session[:mobile][type].present? %>
    <div class="addresses">
      <font class="type"><%= type.capitalize %></font>
      <% session[:mobile][type].each_with_index do |u, idx| %>
      <div class="address"><%= submit_tag '削除', class: 'deleteItem', name: "deleteAddress=#{type}_#{idx}" %><%= u %></div>
      <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
  <% end %>
  <%= hidden_field_tag :group_id, params[:group_id] %>
  <% if [:to, :cc, :bcc].any? { |type| session[:mobile] && session[:mobile][type].present? } || @users.present? %>
  <%= submit_tag 'メール作成', class: 'menuItem', name: 'createMail' %>
  <% end %>
<% end %>
