<div class="actionMenu">
  <%= link_to :index, '#returnToAddresses' %>
  <%= link_to 'メール作成', '#', onclick: open_mail_form(create_mail_webmail_sys_address_path(@item.id)) %>
  <%= link_to '個人アドレス帳に登録', '#addAddress', data: { email: @item.email, name: @item.name, kana: @item.kana } %>
</div>

<table class="show">
  <tr>
    <th><%= '所属部署' %></th>
    <td><%= @item.groups.first.full_name if @item.groups.first %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :kana %></th>
    <td><%= @item.kana %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :email %></th>
    <td><%= @item.email %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :official_position %></th>
    <td><%= @item.official_position %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :assigned_job %></th>
    <td><%= @item.assigned_job %></td>
  </tr>
</table>
