<div id="openAddress">
  <a href="#openAddressSelector" data-prefix="sys"><%= t('webmail.menus.sys_address') %></a>
  <a href="#openAddressSelector" data-prefix="pri"><%= t('webmail.menus.address_group') %></a>
</div>

<%= render 'webmail/admin/address_selector/search' %>
<%= f.hidden_field :tmp_id %>

<div id="mailAddressesForm" class="mailForm">
<table id="mailAddresses" class="mailAttributes">
  <tr>
    <th>宛先 ：</th>
    <td><%= f.text_area :in_to, class: 'to' %></td>
  </tr><tr id="ccContainer" style="<%= 'display:none;' unless @item.in_cc.present? %>">
    <th>Cc ：</th>
    <td><%= f.text_area :in_cc, class: 'cc' %></td>
  </tr><tr id="bccContainer" style="<%= 'display:none;' unless @item.in_bcc.present? %>">
    <th>Bcc ：</th>
    <td><%= f.text_area :in_bcc, class: 'bcc' %></td>
  </tr><tr>
    <th></th>
    <td style="padding-bottom:0">
      <div class="addressToggleButtons">
        <%= link_to 'Ccを追加', '#showCcAddress', style: "#{'display:none' if @item.in_cc.present? }" %>
        <%= link_to 'Bccを追加', '#showBccAddress', style: "#{'display:none' if @item.in_bcc.present? }" %>
      </div>
    </td>
  </tr>
</table>
</div>
<div class="mailForm">
  
<table class="mailAttributes">
  <tr>
    <th>件名 ：</th>
    <td><%= f.text_area :in_subject, class: 'subject' %></td>
  </tr><tr>
    <th>添付 ：</th>
    <td>
      <%= render layout: mail_form_file_uploader_path, locals: { f: f } do %>
        <div class="editorMenu">
          <div class="formatSelector">
            <%= link_to 'TEXT', '#toggleEditor', data: { format: 'text' }, title: 'TEXT形式' %>
            <%= link_to 'HTML', '#toggleEditor', data: { format: 'html' }, title: 'HTML形式' %>
          </div>
          <div class="templateSelector">
            <%= select_tag :template, options_for_select(Webmail::Template.user_templates.pluck(:name, :id)), include_blank: '# テンプレート切替' %>
          </div>
        </div>
      <% end %>
    </td>
  </tr>
</table>
<%= f.hidden_field :in_format %>

<div id="textFormatEditor" class="textFormatEditor" style="<%= 'display:none;' if @item.in_format != 'text' %>">
  <%= f.text_area :in_body, class: 'body', style: "width:#{mail_form_size(@mail_form_size)[:textarea]}px;" %>
</div>
<div id="htmlFormatEditor" class="htmlFormatEditor" style="<%= 'display:none;' if @item.in_format != 'html' %>">
  <%= f.text_area :in_html_body, class: 'mceEditor' %>
</div>

<% if Joruri.config.application['webmail.show_gw_schedule_link'] == 1 %>
  <%= link_to 'スケジュールを作成する', '#openScheduleWindow', class: 'scheduleLink' %>
<% end %>

<div class="recipientConfirm">
  <%= f.check_box :in_request_mdn %>開封確認メッセージを要求する
</div>

</div>

<%= javascript_include_tag("/_common/js/tiny_mce/tiny_mce.js") %>
<%= javascript_include_tag("/_common/js/tiny_mce_config/init_html_mail.js") %>
<script type="text/javascript">
//<![CDATA[
function convertTextToHtml(text) {
  var lines = text.split("\n");
  var rslt = "";
  for (var i=0; i<lines.length; i++) {
    line = escapeHTML(lines[i].replace("\r", ''));
    line = line.replace(/(\s+)(\s)/, function(s, p1, p2) {
      var nbsp = "";
      for (var k = 0;k < p1.length;k++) {
        nbsp += "&nbsp;";
      }
      return nbsp + p2;
    });
    //if (line == '') line = '&nbsp;';
    rslt += '<p>' + line + "</p>\n";
  }
  return rslt;
}
function convertHtmlToText(html) {
  var current = document.createElement('div');
  current.innerHTML = html;
  return convertHtmlToTextByNode(current, 0);
}
function convertHtmlToTextByNode(node, blockquote){
  var str = '';
  if (node.nodeType == 1) { //Element
    switch (node.nodeName.toLowerCase()) {
      case 'br':
        str += "\n";
        break;
      case 'blockquote':
        blockquote++;
        break;
    }
  } else if (node.nodeType == 3) { //Text
    var txt = node.nodeValue;
    if (!txt.match(/^\s+$/)) {
      str += txt;
    }
  }
  for (var i=0; i<node.childNodes.length; i++) {
    str += convertHtmlToTextByNode(node.childNodes[i], blockquote);
  }
  if (node.nodeType == 1) { //Element
    switch (node.nodeName.toLowerCase()) {
      case 'div':
      case 'p':
      case 'li':
        str += "\n";
        break;
      case 'blockquote':
        str = str.replace(/^(.*)/gm, "> $1");
        str += "\n";
        blockquote--;
        break;
    }
  }
  return str;
}
function isFormChanged() {
  if ($('#original_to').val() != $('#item_in_to').val() ||
    $('#original_cc').val() != $('#item_in_cc').val() ||
    $('#original_bcc').val() != $('#item_in_bcc').val() ||
    $('#original_subject').val() != $('#item_in_subject').val() ||
    $('#original_format').val() != $('#item_in_format').val() ||
    ($('#original_format').val() == 'text' && $('#original_body').val() != $('#item_in_body').val()) ||
    ($('#original_format').val() == 'html' && $('#original_html_body').val() != $('#item_in_html_body').val()) ) {
    return true;
  }
  return false;
}
function checkFormChanged() {
  if (isFormChanged()) {
    return 'メールは保存されていません。';
  }
}

$(function() {
  $(window).on('beforeunload', checkFormChanged);

  var submitted = false;
  $('#item_form').on('submit', function() {
    if (submitted) { return false; }
    submitted = true;
    $(window).off('beforeunload');
    if ($('#item_in_format').val() == 'html') {
      var html = tinyMCE.activeEditor.getContent();
      $('#item_in_body').val(convertHtmlToText(html));
    }
    return true;
  });
  $('input[type="text"], input[type="textarea"]').on('keydown', function(e) {
    // disable ESC
    if (e.keyCode == 27) return false;
    return true;
  });
  $('a[href="#showCcAddress"]').on('click', function() {
    $('#ccContainer').show();
    $(this).hide();
    return false;
  });
  $('a[href="#showBccAddress"]').on('click', function() {
    $('#bccContainer').show();
    $(this).hide();
    return false;
  });
});
$(function() {
  if ($('#item_in_format').val() == 'html') {
    initTinyMCE();
  }
  $('a[href="#toggleEditor"]').on('click', function() {
    var format = $(this).attr('data-format');
    if ($('#item_in_format').val() == format) return false;
    switch(format) {
    case 'text':
      if (!confirm("テキスト形式に変換することにより、書式情報が失われます。よろしいですか？")) return;
      $('#item_in_body').val('');
      $('#textFormatEditor').show();
      $('#htmlFormatEditor').hide();
      $('#item_in_body').val(convertHtmlToText(tinyMCE.activeEditor.getContent()));
      tinyMCE.activeEditor.setContent('');
      break;
    case 'html':
      $('#textFormatEditor').hide();
      $('#htmlFormatEditor').show();
      var html = convertTextToHtml($('#item_in_body').val());
      $('#item_in_body').val('');
      var ace = tinyMCE.activeEditor;
      if (ace) {
        ace.setContent(html);
      } else {
        mceOnLoadContent = function(ed, o) {
          ed.setContent(html);
          ed.onLoadContent.remove(mceOnLoadContent);
        };
        mceOnAddEditor = function(mgr, ed) {
          ed.onLoadContent.add(mceOnLoadContent);
          tinyMCE.onAddEditor.remove(mceOnAddEditor);
        };
        tinyMCE.onAddEditor.add(mceOnAddEditor);
        initTinyMCE();
      }
      break;
    }
    $('#item_in_format').val(format);
    return false;
  });
});
$(function() {
  $('a[href="#openAddressSelector"]').on('click', function() {
    var prefix = $(this).attr('data-prefix');
    var current = AddressSelector.instance.currentBook();
    if (current && current == prefix) {
      AddressSelector.instance.finishSelection(true);
    } else {
      AddressSelector.instance.toggle(prefix, 
        $('#item_in_to').val(),
        $('#item_in_cc').val(),
        $('#item_in_bcc').val(),
        addressSelectorCallBack
      );
      $('a[href="#openAddressSelector"]').removeClass('current');
      $(this).addClass('current');
      $('#mailAddressesForm').hide();
    }
    return false;
  });
  function addressSelectorCallBack(ok, to, cc, bcc) {
    if (ok) {
      $('#item_in_to').val(to);
      $('#item_in_cc').val(cc);
      $('#item_in_bcc').val(bcc);
      if (cc != "") { $('a[href="#showCcAddress"]').click(); }
      if (bcc != "") { $('a[href="#showBccAddress"]').click(); }
    }
    $('#mailAddressesForm').show();
    $('a[href="#openAddressSelector"]').removeClass('current');
  }
  $('input[name="commit_send"], input[name="commit_draft"]').on('click', function(e) {
    if ($('#mailAddressesForm').is(':hidden')) {
      alert("アドレス帳を閉じてください。");
      e.stopImmediatePropagation();
    }
  });
});
$(function() {
  $('#template').on('change', function() {
    var template = $(this);
    if (template.val() == '' || !confirmTemplateChange()) {
      template.val('');
      return false;
    }
    $.get('<%= webmail_templates_path %>/' + template.val() + '.json')
      .done(function(data) {
        setTemplateData(data);
        template.val('');
      });
    return false;
  });
  function confirmTemplateChange() {
    if (isFormChanged() && !confirm('入力内容は失われますがよろしいですか？')) {
      return false;
    }
    return true;
  }
  function setTemplateData(data) {
    $('#item_in_to').val(data.to);
    $('#item_in_cc').val(data.cc);
    $('#item_in_bcc').val(data.bcc);
    $('#item_in_subject').val(data.subject);
    if ($('#item_in_format').val() == 'html') {
      tinyMCE.activeEditor.setContent(convertTextToHtml(data.body));
    } else {
      $('#item_in_body').val(data.body);
    }
    if ($('#item_in_cc').val() != '') {
      $('a[href="#showCcAddress"]').click();
    }
    if ($('#item_in_bcc').val() != '') {
      $('a[href="#showBccAddress"]').click();
    }
  }
});
$(function() {
  $('a[href="#openScheduleWindow"]').on('click', function() {
    $('#schedule_title').val(
      $('#item_in_subject').val()
    );
    $('#schedule_memo').val(
      $('#item_in_format').val() == 'html' ?
        convertHtmlToText(tinyMCE.activeEditor.getContent()) :
        $('#item_in_body').val()
    );
    window.open('', 'scheduleWindow_<%=escape_javascript Core.now.gsub(/[\W]/, '') %>', 'resizable=yes,scrollbars=yes,location=yes,menubar=1,toolbar=1');
    $('#scheduleForm').submit();
    return false;
  });
});
//]]>
</script>
