<table id="webmailContainer"><tr><td id="webmailMenu">
<div id="webmailMenuContainer">

<div class="menu">
  <%= link_to 'メールの受信', webmail_mails_path(@mailbox.name, reload: true), class: 'index', title: 'メールの受信' %>
  <%= link_to 'メールの作成', new_webmail_mail_path('INBOX'), class: 'newMail', title: 'メールの作成', target: '_blank',
    onclick: open_mail_form(new_webmail_mail_path('INBOX')) %>
</div>

<%= render 'webmail/admin/base/account' %>
<%= render 'webmail/admin/mails/shared/mailbox' %>
<%= render 'webmail/admin/mails/shared/mail_address_history', histories: @address_histories if @address_histories %>

</div>
</td><td id="webmailContent">

<div class="menu">
  <div class="leftMenu" style="position:relative;">
    <a href="#moveMails" class="move" title="移動">移動</a
    ><a href="#copyMails" class="copy" title="コピー">コピー</a
    ><a href="#deleteMails" class="delete" title="削除">削除</a>
    <a href="#seenMails" class="seen" title="既読にする">既読にする</a
    ><a href="#unseenMails" class="unseen" title="未読にする">未読にする</a
    ><a href="#showLabelMenu" class="label" title="ラベル">ラベル</a
    ><% if Core.current_user.id == Core.user.id 
    %><a href="#registerSpamMails" class="spam" title="迷惑メール登録">迷惑メール登録</a>
    <% end %>
    <a href="#toggleSearchForm" class="search" title="検索">検索</a>
    <div id="labelMenu" class="popupMenu" style="display:none;width:100px;">
      <% @conf.mail_labels.each do |conf| %>
        <div class="menuItem"><a href="#labelMails" data-label-id="<%= conf.id %>"><%= conf.name %></a></div>
      <% end %>
      <div class="menuItem"><hr /></div>
      <div class="menuItem"><a href="#labelMails" data-label-id="0">すべてはずす</a></div>
    </div>
  </div>
  <div class="simplePagination">
    <%= link_to '≪前', { page: @items.previous_page } if @items.previous_page
    %><span><b><%= @items.current_page %></b>/<b><%= @items.total_pages %></b></span
    ><%= link_to '次≫', { page: @items.next_page } if @items.next_page
    %><%#= paginate @items, page_links: false, previous_label: "≪前", next_label: "次≫" %>
  </div>
</div>

<%= render 'search' %>

<% if @quota && @quota[:usable] %>
<div class="quotaAlert"><%= "メールボックスの容量が、残り #{@quota[:usable]} です。" %></div>
<% end %>

<%= form_for :item, url: { action: :index }, html: { id: "mailsForm" } do |f| %>
  <input type="hidden" name="page" value="<%= params[:page] %>" />
  <%= render 'webmail/admin/mails/index/mail_list', items: @items %>
<% end %>

<%= paginate @items %>

<% if @quota %>
<div class="quota"><%= "現在 #{@quota[:total]} 中 #{@quota[:used]} (#{@quota[:usage_rate]}%) 使用しています。" %></div>
<% if @quota[:mailboxes] && (idx = @quota[:mailboxes].index{|x| x[:name] == @mailbox.name}) %>
<div class="quota"><%= "#{@mailbox.title} は #{@quota[:mailboxes][idx][:used]} 使用しています。" %></div>
<% end %>
<% end %>

<!-- end #webmailContainer --></td></table>

<script type="text/javascript">
//<![CDATA[
var childWindows = new Array();
function openMail(uri, new_window) {
  if (new_window) {
    var child = window.open(uri, '_blank', 'resizable=yes,scrollbars=yes,width=800');
    childWindows.push(child);
  } else {
    location.href = uri;
  }  
}
function syncStarClass(uid, starClass) {
  var title = { starOn: 'スター', starOff: '' };
  $('#mail_star_' + uid).removeClass('starOn starOff')
    .addClass(starClass)
    .attr('title', title[starClass]);
}
function syncUnseenClass(mailbox, uid) {
  if (uid != '') {
    $('#mail_' + uid).removeClass('unseen');
  }
  var mbox = $('#mailbox_' + mailbox);
  var unseen = mbox.siblings('span.unseenNum');
  var num = unseen.find('span.num')
  var n = parseInt(unseen.find('span.num').text());
  if (n == NaN) { return; }
  if (n == 1) {
    unseen.remove();
    mbox.removeClass('unseen')
  } else {
    num.text(n - 1);
  }
}
function syncLabels(uid, html) {
  $('#mail_' + uid + '_labels').html(html);
}

$(function() {
  $('a[href="#showLabelMenu"]').popupMenu({ menu: '#labelMenu' });

  function post(action) {
    $('#mailsForm').attr('action', action).submit();
  }
  $('a[href="#moveMails"]').on('click', function() {
    post('<%=raw escape_javascript url_for(action: :move) %>');
    return false;
  });
  $('a[href="#copyMails"]').on('click', function() {
    post('<%=raw escape_javascript url_for(action: :move, copy: 1) %>');
    return false;
  });
  $('a[href="#deleteMails"]').on('click', function() {
    post('<%=raw escape_javascript url_for(action: :delete) %>');
    return false;
  });
  $('a[href="#seenMails"]').on('click', function() {
    post('<%=raw escape_javascript url_for(action: :seen) %>');
    return false;
  });
  $('a[href="#unseenMails"]').on('click', function() {
    post('<%=raw escape_javascript url_for(action: :unseen) %>');
    return false;
  });
  $('a[href="#registerSpamMails"]').on('click', function() {
    if (confirm('迷惑メールに登録した後、ごみ箱に移動します。よろしいですか？')) { 
      post('<%=raw escape_javascript url_for(action: :register_spam) %>');
    }
    return false;
  });
  $('a[href="#toggleSearchForm"]').on('click', function() {
    $('#searchForm').toggle();
    if ($('#searchForm').is(':visible')) {
      $('#s_keyword').focus();
    }
    return false;
  });
  $('a[href="#labelMails"]').on('click', function(e) {
    e.preventDefault();
    var labelID = $(this).attr('data-label-id');
    $('#mails input:checked').each(function() {
      var uid = $(this).attr('data-uid');
      var labels = $('#mail_' + uid + '_labels');
      var loading = $('#mail_' + uid + '_label_loading');

      labels.hide();
      loading.show();
      $.get('<%=raw escape_javascript label_webmail_mails_path(@mailbox.name) %>', {
        id: uid, label: labelID
      })
      .done(function(data) {
        syncLabels(uid, data)
        for (var i=0; i<childWindows.length; i++) {
          if (childWindows[i] && !childWindows[i].closed) {
            childWindows[i].syncLabels(uid, data);
          }
        }
      })
      .always(function() {
        loading.hide();
        if (labels.children('span').length) {
          labels.show();
        } else {
          labels.hide();
        }
      });
    });
  });
  $('#checkAll').on('click', function() {
    var checked = $(this).prop('checked');
    $('input[name^="item[ids]"').prop('checked', checked);
  });
  $('#mails .mail').find('.subject, .mailbox, .date, .size').on('click', function() {
    openMail($(this).parent().attr('data-url'), <%= @conf.mail_open_window.present? %>);
    return false;
  });
  $('#mails .mail .star').on('click', function() {
    var target = $(this);
    var uid = target.attr('data-uid');
    if (target.hasClass('loading')) { return false; }

    var beforeTitle = target.attr('title');
    var beforeClass = target.hasClass('starOn') ? 'starOn' : 'starOff';
    var afterClass = beforeClass == 'starOn' ? 'starOff' : 'starOn'
    target.addClass('loading');
    $.get('<%=raw escape_javascript star_webmail_mails_path(@mailbox.name) %>', {
      id: uid
    })
    .done(function(data) {
      syncStarClass(uid, afterClass);
      for (var i=0; i<childWindows.length; i++) {
        if (childWindows[i] && !childWindows[i].closed) {
          childWindows[i].syncStarClass(uid, afterClass);
        }
      }
    }).always(function() {
      target.removeClass('loading');
    });
  });
  $('#mails .mail .drag').draggable({
    opacity: 0.8,
    cursor: 'move',
    helper: function(e) {
      var container = $('<td />').css('width', '50%');
      var mail = $(e.currentTarget).parents('#mails .mail');
      $('#mails .mail').each(function() {
        if ($(this).get(0) == mail.get(0) || $(this).find('input').is(':checked')) {
          container.append($('<span />')
            .text($(this).find('.subject a').text())
            .css('padding', '0px 12px')
          );
        }
      });
      return container;
    }
  });
  $('#mailboxes .droppable').droppable({
    hoverClass: "ui-hover",
    activeClass: "ui-active",
    tolerance: "pointer",
    greedy: true,
    drop: function(e, ui) {
      var mailbox = $(e.target).attr('data-mailbox');
      var uid = ui.draggable.attr('data-uid');
      $('#mailsForm')
        .append( $('<input />').attr({ type: 'hidden', name: 'item[mailbox]', value: mailbox }) )
        .append( $('<input />').attr({ type: 'hidden', name: 'item[ids][' + uid + ']', value: 1 }) )
        .attr('action', '<%=raw escape_javascript url_for(action: :move) %>')
        .submit();
    }
  });
});
//]]>
</script>
