<%
mailboxes = Webmail::Mailbox.mailbox_options do |box|
  box.mail_movable_box? && !(box.name == @mailbox.name && params[:copy].blank?)
end
action_label = params[:copy].blank? ? '移動' : 'コピー'
%>

<div class="mailboxTitle">
  <%= link_to @mailbox.title, { action: :index, mobile: :list, page: 1 }, class: "link" %>
</div>

<div class="moveMenu">
<div class="title"><%= action_label %>するメール</div>
<div class="mails">
<% @items.each do |item| %>
  <div class="mail">・<%= mail_text_wrap(item.subject) %></div>
<% end %>
</div>
<%= form_for :item, url: { action: :move }, html: { id: 'moveForm', name: 'moveForm' } do |f| %>
  <%= hidden_field_tag 'copy', params[:copy] %>
  <% params[:item][:ids].each do |id, key| %>
    <%= hidden_field_tag "item[ids][#{id}]", 1 %>
  <% end %>
  <div class="title"><%= action_label %>先フォルダー</div>
  <div class="folder"><%= f.select :mailbox, mailboxes, selected: @mailboxes.detect(&:use_as_archive?).try(:name), class: 'selectUI' %></div>
  <% if mailboxes.size > 0 %>
    <div class="submitters">
      <%= f.submit "#{action_label}する" %>
    </div>
  <% end %>
<% end %>
</div>

<div class="link">
  <%= link_to '<戻る', { action: :index, mobile: :list }, class: 'link' %>
</div>
