<%
mailboxes = Webmail::Mailbox.mailbox_options do |box|
  box.mail_movable_box? & !(box.name == @mailbox.name && params[:copy].blank?)
end
action_label = params[:copy].blank? ? '移動' : 'コピー'
%>

<div class="mailboxTitle">
  <%= link_to @mailbox.title, { action: :index, mobile: :list, page: 1 }, class: 'link' %>
</div>

<%= form_for :item, url: { action: :move }, html: { id: 'moveForm', name: 'moveForm' } do |f| %>
  <%= hidden_field_tag 'copy', params[:copy] %>
  <% params[:item][:ids].each do |id, key| %>
    <%= hidden_field_tag "item[ids][#{id}]", 1 %>
  <% end %>
  <div class="moveMail">
  <table class="index">
    <tr><th style="width: 100%;"><%= action_label %>するメール</th></tr>
    <% @items.each do |item| %>
      <tr><td><%= mail_text_wrap(item.subject) %></td></tr>
    <% end %>
    <tr><th><%= action_label %>先フォルダー</th></tr>
    <tr><td>
      <%= f.select :mailbox, mailboxes, selected: @mailboxes.detect(&:use_as_archive?).try(:name), class: 'selectUI' %>
    </td></tr>
  </table>
  <% if mailboxes.size > 0 %>
    <div class="submitters">
      <%= f.submit "#{action_label}する", class: (params[:copy].blank? ? 'move' : 'copy') %>
    </div>
  <% end %>
<% end %>
</div>

<div class="link">
  <%= link_to '<戻る', { action: :index, mobile: :list }, class: 'back' %>
</div>
