<div class="newMailTitle">
  <span>メール作成</span>
</div>

<%= error_messages_for 'item' %>
<%= form_for :item, url: { action: :mobile_send, id: params[:id].to_i },
  html: { id: 'item_form', class: 'newForm', name: 'newForm', method: :post, multipart: true } do |f| %>
  <%= render 'form_smart_phone', f: f %>
  <div class="submitters">
    <input type="button" value="送信する" id="commit_send1" name="commit_send" class="send" />
    <input type="button" value="下書き保存" id="commit_draft1" name="commit_draft" class="draft" />
  </div>
<% end %>

<%= render 'webmail/admin/mails/form/status' %>
<script type="text/javascript">
//<![CDATA[
$(function() {
  <% config = Webmail::Setting.user_config_values([:attachment_check, :attachment_check_keywords]) %>
  var attachmentChecker = new MailKeywordChecker(
    '<%= config.attachment_check %>',
    <%= config.attachment_check_keywords.to_s.split(/[\r\n]+/).to_json.html_safe %>
  );
  $('input[name="commit_send"]').on('click', function() {
    var ok = true;
    var subject = $('#item_in_subject').val();
    var body = $('#item_in_body').val();
    if (attachmentChecker.isEnabled() &&
      (attachmentChecker.includeKeyword(subject) || attachmentChecker.includeKeyword(body)) &&
      $('input[name="item[tmp_attachment_ids][]"]').length == 0) {
      if (!confirm('添付ファイルがありません。このまま送信してよろしいですか？')) {
        ok = false;
      }
    }
    if (ok) {
      checkServerStatus(this);
    }
  });
  $('input[name="commit_draft"]').on('click', function() {
    checkServerStatus(this);
  });
});
//]]>
</script>
