<%
cls = lambda do |name|
  _cls  = [ name.to_s ]
  _cls << 'current' if name == current
  _cls.join(' ')
end
%>
<div class="menu">
  <div class="leftMenu">
    <%= link_to t('webmail.menus.mail'), gw_webmail_mails_path('INBOX'), class: cls.call(:mail) %>
    <%= link_to t('webmail.menus.mailbox'), gw_webmail_mailboxes_path('INBOX'), class: cls.call(:mailbox) %>
    <%= link_to t('webmail.menus.sys_address'), gw_webmail_sys_addresses_path, class: cls.call(:sys_address) %>
    <%= link_to t('webmail.menus.address_group'), gw_webmail_address_groups_path, class: cls.call(:address) %>
    <%= link_to t('webmail.menus.filter'), gw_webmail_filters_path, class: cls.call(:filter) %>
    <%= link_to t('webmail.menus.template'), gw_webmail_templates_path, class: cls.call(:template) %>
    <%= link_to t('webmail.menus.sign'), gw_webmail_signs_path, class: cls.call(:sign) %>
    <%= link_to t('webmail.menus.memo'), gw_webmail_memo_path(0), class: cls.call(:memo) %>
    <%= link_to t('webmail.menus.tool'), batch_delete_gw_webmail_tools_path, class: cls.call(:tool) %>
    <%= link_to t('webmail.menus.setting'), gw_webmail_settings_path('mail_list'), class: cls.call(:setting) %>
    <%= link_to t('webmail.menus.doc'), gw_webmail_docs_path, class: cls.call(:doc) %>
  </div>  
  <div class="rightMenu">
    文字サイズ
    <a href="#void" id="fontNormal" title="小">小</a
    ><a href="#void" id="fontLarge" title="中">中</a
    ><a href="#void" id="fontExtraLarge" title="大">大</a>
  </div>
</div>

<script type="text/javascript">
//<![CDATA[
$(function() {
  Navigation.initialize({
    fontSize: {'#fontNormal': '1.0em', '#fontLarge': '1.3em', '#fontExtraLarge': '1.5em'}
  });
});
//]]>
</script>
