<div class="crudTree">
<div class="tree">
  <p>
    <%= @entry.display_name %>
  </p>
  <div class="links">
    <% @children.each do |e| %>
      <a href="#showSpec" data-index="<%= e.dn %>">詳細</a>&nbsp;
      <%= link_to h(e.display_name), { action: :index, parent: e.dn } %><br />
      <div data-index="<%= e.dn %>" style="display: none;">
      <hr />
      <% e.attributes.each do |key, values| %><%= "#{key} : #{values.join(",")}" %><br /><% end %>
      <hr />
      </div>
    <% end %>
    <%= 'no groups' if @children.size == 0 %>
  </div>
</div>
<div class="content">
  <table class="index">
    <tr><th>Users</th></tr>
    <% @users.each do |u| %>
    <tr><td>
      <a href="#showSpec" data-index="<%= u.dn %>">詳細</a>&nbsp;
      <%= u.name %> (<%= u.uid %>) <%= u.email %>
      <div data-index="<%= u.dn %>" style="display: none;"><hr />
      <% u.attributes.each do |key, values| %><%= "#{key} : #{values.join(",")}" %><br /><% end %>
      </div>
    </td></tr>
    <% end %>
    <% if @users.size == 0 %><tr><td>no users<br /></td></tr><% end %>
  </table>
</div>
<div class="footer"></div>
</div>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('a[href="#showSpec"]').on('click', function() {
    $('div[data-index="' + $(this).attr('data-index') + '"]').toggle();
  });
});
//]]>
</script>
