<%
assert = "このメールは携帯端末から送信しています。"
if @item.in_format == Gw::WebmailMail::FORMAT_HTML
  if @item.in_html_body !~ /^#{assert}/
    @item.in_html_body = "#{@item.in_html_body}\n\n-------\n#{assert}\n\n\n"
  end
else
  if @item.in_body !~ /^#{assert}/
    @item.in_body = "#{@item.in_body}\n\n-------\n#{assert}\n\n\n"
  end
end
%>

<%= hidden_field_tag "mobile[action]", params[:mobile] && params[:mobile][:action] ? params[:mobile][:action] : params[:action] %>
<%= hidden_field_tag "mobile[form_action]", @form_action %>
<%= hidden_field_tag "mobile[mailbox]", @mailbox.name %>
<%= hidden_field_tag "mobile[uid]", params[:id] if params[:id] %>
<%= hidden_field_tag "mobile[qt]", params[:qt] %>
<%= hidden_field_tag :id, params[:id] %>

<div class="addressMenu">
  <div class="menus">
    <%= submit_tag t('webmail.menus.sys_address'), class: 'sysAddress', name: 'addSysAddress' %>
    <%= submit_tag t('webmail.menus.address_group'), class: 'priAddress', name: 'addPriAddress' %>
  </div>
</div>

<div id="mailAddressesForm" class="mailForm">
<table id="mailAddresses" class="mailAttributes">
  <tr>
    <th>宛先：</th>
    <td><%= f.text_area :in_to, rows: 1, cols: 30 %></td>
  </tr><tr id="ccContainer" style="<%= 'display:none;' if @item.in_cc.blank? && @item.in_bcc.blank? %>">
    <th>CC：</th>
    <td><%= f.text_area :in_cc, rows: 1, cols: 30 %></td>
  </tr><tr id="bccContainer" style="<%= 'display:none;' if @item.in_cc.blank? && @item.in_bcc.blank? %>">
    <th>BCC：</th>
    <td><%= f.text_area :in_bcc, rows: 1, cols: 30 %></td>
  </tr>
  <tr>
    <th></th>
    <td style="padding-bottom:0">
      <div class="addressToggleButtons">
        <%= link_to 'CC/BCCを追加', '#showCcBccAddress', id: "toggleButton",
          style: "#{'display:none;' if @item.in_cc.present? || @item.in_bcc.present?}" %>
      </div>
    </td>
  </tr>
  <tr>
    <th>件名：</th>
    <td><%= f.text_area :in_subject, class: 'subject', rows: 1, cols: 30 %></td>
  </tr>
  <tr>
    <th colspan="2">本文：</th>
  </tr>
  <tr>
    <td colspan="2">
      <div id="textFormatEditor" class="textFormatEditor">
        <%= f.text_area :in_body, class: 'body', rows: 10, cols: 36 %>
      </div>
    </td>
  </tr>
</table>

<table id="mailAddresses" class="mailAttributes fileUploader" style="margin-bottom: 5px;">
  <tr>
    <th>添付ファイル：</th>
  </tr>
</table>

<%= render 'gw/admin/webmail/mails/form/file', f: f %>

<%= f.hidden_field :in_format %>
<%= f.hidden_field :tmp_id %>

<div class="recipientConfirm">
  <%= f.check_box :request_mdn %>開封確認メッセージを要求する
</div>

<!-- end #mailForm --></div>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('a[href="#showCcBccAddress"]').on('click', function() {
    $('#ccContainer, #bccContainer').show();
    $(this).hide();
    return false;
  });
});
//]]>
</script>
