<div class="mailboxTitle">
  <%= link_to @mailbox.title, url_for(mobile: :list, page: 1), class: "link" %>
</div>

<%= form_for :item, url: mobile_manage_gw_webmail_mails_path(@mailbox.name), html: { id: "mailsForm", name: "mailsForm", class: "mailsForm"} do |f| %>
<input type="hidden" name="page" value="<%= params[:page] %>" />
<% if params[:sort_starred] == '1' %>
  <%= render 'mail_list_smart_phone', items: @starred_items + @unstarred_items %>
<% else %>
  <%= render 'mail_list_smart_phone', items: @items %>
<% end %>

<%= paginate @items, inner_window: 0, outer_window: 0, previous_label: "前", next_label: "次" %>

<div class="managementMenu">
  <div class="title"><span>管理メニュー</span></div>
  <div class="menus">
    <%= submit_tag '移動', name: 'mobile_move', class: 'move' %>
    <%= submit_tag 'コピー', name: 'mobile_copy', class: 'copy' %>
    <%= submit_tag '削除', name: 'mobile_delete', class: 'delete' %>
    <%= submit_tag '既読にする', name: 'mobile_seen', class: 'seen' %>
    <%= submit_tag '未読にする', name: 'mobile_unseen', class: 'unseen' %>
  </div>
</div>

<% end %>

<div class="searchMenu">
  <div class="title">検索</div>
  <div class="menus">
    <%= render 'search_smart_phone' %>
  </div>
</div>
