<div class="mailItems">
<% for item in items
  flag  = (item.answered?) ? "answered" : ""
  flag += "forwarded" if item.forwarded?
  mdnRequest = item.has_disposition_notification_to? ? 'mdnRequest' : ''
  if request.smart_phone?
    from_tooltip = value = item.subject
  else
    from_tooltip = value = truncate(item.subject, :length => 30)
  end
  s_from = from = item.friendly_from_addr
  if @mailbox.name =~ /^(Sent|Drafts)(\.|$)/
    from = item.simple_to_addr
    s_from = item.friendly_to_addrs[0] || ''
  end 
  from, from_tooltip = omit_from_address_in_mail_list(from)
  value = ' ' if value.blank? 
  if item.date && match = item.date.match(/\d{4}-(\d{2})-(\d{2})\s\d{2}:\d{2}/)
    mon = match[1].to_i
    day = match[2].to_i
  end 
  %>
  <div class="mailItem<%= ' unseen' if item.unseen? %>">
    <input type="checkbox" name="item[ids][<%= item.uid %>]" value="1" 
    /><% 
      star_image = item.starred? ? "/_common/themes/admin/gw/images/mailoption/star_on.gif" : "/_common/themes/admin/gw/images/mailoption/star_off.gif"
      star_title = item.starred? ? "スター" : ""
      concat link_to image_tag(star_image, :alt => star_title), star_gw_webmail_mails_path(@s_params.merge(:mailbox => @mailbox.name, :id => item.uid, :from => :list)) 
    %><font class="subject <%= flag %> <%= mdnRequest %>"><%= link_to mail_text_wrap(value,1000), url_for(@s_params.merge(:action => :show, :id => item.uid)) %></font>
    <% if item.has_attachments? %>
    <img src="/_common/themes/admin/gw/webmail/mobile/images/clip.jpg" alt="[有]">
    <% end %>
    <br />
    <% if @mailbox.name =~ /^(Star)$/ %>
    　 <font class="mailbox"> 
      <%= safe{@mailboxes.find{|x| x.name == item.node.ref_mailbox}.title} if item.node %>
    </font><br />
    <% end %>
    　 <font class="date"><%= "#{mon}/#{day}" %></font>
    <font class="from"><%= mail_text_wrap(from.gsub(/["']/, ""),1000) %></font><br />
  </div>
<% end %>
</div>