<%
subject_wrap = @mail_list_subject.blank? ? '' : 'autoWrap'
from_class = @mail_list_from_address.blank? ? 'from' : 'fromOmitAddress'

def sort_mark(key)
  mark = ''
  if params[:sort_key] == key.to_s
    mark = params[:sort_order] == '' ? '▲' :  '▼'
  end
  mark
end

def sort_link(key)
  order = ''
  if params[:sort_key] == key.to_s
    order = params[:sort_order] == '' ? 'reverse': ''
  end
  url_for(@s_params.merge(:sort_key => key.to_s, :sort_order => order))
end
%>

<table class="mails">
  <%
    if params[:sort_starred] == '1'
      star_class = 'starOn'
      sort_starred = ''
    else
      star_class = 'starOff'
      sort_starred = '1'
    end
  %>
  <tr>
    <th class="drag"></th>
    <th class="check"><input type="checkbox" onclick="checkAll(this.checked)" value="0" /></th>
    <th class="<%= star_class %>" title="スター" onclick="window.location.href='<%=raw escape_javascript url_for(@s_params.merge(:sort_starred => sort_starred)) %>';"></th>
    <th class="attach" title="添付ファイル">添</th>
    <th class="subject"><%= link_to '件名' + sort_mark(:subject), sort_link(:subject), :class => 'sorter' %></th>
    <% if @mailbox.name =~ /^(Star)$/ %>
    <th class="mailbox"></th>
    <% end %>
    <th class="<%= from_class %>">
      <span class="caption">
      <% sorter_caption = @mailbox.name =~ /^(Sent|Drafts)(\.|$)/ ? "受信者" + sort_mark(:to) : "差出人" + sort_mark(:from) %>
      <% sorter_link = @mailbox.name =~ /^(Sent|Drafts)(\.|$)/ ? sort_link(:to) : sort_link(:from) %>
      <%= link_to sorter_caption, sorter_link, :class => 'sorter' %>
      </span>
      <% if params[:s_from] %>
        <%= link_to "≪絞込解除", url_for(@s_params.dup.reject{|k| k == 's_from'}.merge(:page => 1)), :class => "cancelFromSearch" %>
      <% end %>
    </th>
    <th class="date"><%= link_to '送信日時' + sort_mark(:date), sort_link(:date), :class => 'sorter' %></th>
    <th class="size"><%= link_to 'サイズ' + sort_mark(:size), sort_link(:size), :class => 'sorter' %></th>
  </tr>
  
  <script type="text/javascript" src="/_common/js/dump.js"></script>
  
  <% for item in items
    flag  = (item.answered?) ? "answered" : ""
    flag += "forwarded" if item.forwarded?
    mdnRequest = item.has_disposition_notification_to? ? 'mdnRequest' : ''
    uri = url_for(@s_params.merge(:action => :show, :id => item.uid, :new_window => (@mail_open_window.blank? ? nil : 1)))
    click = %Q[onclick="openMail('#{raw escape_javascript uri}', #{!@mail_open_window.blank?}); return false;"].html_safe
    from_tooltip = value = truncate(item.subject, :length => 70)
    s_from = from = item.friendly_from_addr
    if @mailbox.name =~ /^(Sent|Drafts)(\.|$)/
      from = item.simple_to_addr
      s_from = item.friendly_to_addrs[0] || ''
    end 
    from, from_tooltip = omit_from_address_in_mail_list(from) unless @mail_list_from_address.blank?
    value = ' ' if value.blank?
    star = item.starred? ? "starOn" : "starOff"
    star_title = item.starred? ? "スター" : ""
  %>
  <tr id="mail_<%= item.uid %>" class="mail <%= 'unseen' if item.unseen? %> <%= cycle '', 'cycle' %>">
    <td class="drag" id="drag_<%= item.uid %>"></td>
    <td class="check"><input type="checkbox" name="item[ids][<%= item.uid %>]" value="1" /></td>
    <td class="<%= star %>" id="mail_star_<%= item.uid %>" title="<%= star_title %>" onclick="starMail('<%= item.uid %>');"></td>
    <td class="attach"><%=raw %Q(<span class="attach" title="添付ファイル">有</span>) if item.has_attachments? %></td>
    <td class="subject <%= flag %> <%= mdnRequest %> <%= subject_wrap %>" <%= click %>>
      <span class="overflowHidden <%= subject_wrap %>" title="<%= item.subject %>">
        <a href="<%= url_for(:action => :show, :id => item.uid) %>" style="float:left;">
          <span id="mail_<%= item.uid %>_labels" class="labels" style="<%= 'display:none;' if item.labels.count == 0 %>">
            <% item.labels.each do |label| %>
              <% if label_conf = @label_confs.find{|conf| conf[:id] == label} %>
                <% concat raw %Q(<span class="label" style="background-color: #{label_conf[:color]};">#{label_conf[:name]}</span>) %>
              <% end %>
            <% end %>
          </span>
          <span id="mail_<%= item.uid %>_label_loading" class="loading" style="display:none;"></span>
          <%= mail_text_wrap(value) %>
        </a>
      </span>
    </td>
    <% if @mailbox.name =~ /^(Star)$/ %>
    <td class="mailbox" <%= click %>><span class="overflowHidden">
      <%= safe{@mailboxes.find{|x| x.name == item.node.ref_mailbox}.title} if item.node %></span></td>
    <% end %>
    <td class="from"><span class="overflowHidden" title="<%= from_tooltip %>">
      <%= link_to mail_text_wrap(from), url_for(@s_params.merge(:s_from => s_from, :page => 1)) %></span></td>
    <td class="date" <%= click %>>
      <%=h item.date %></td>
    <td class="size" <%= click %>>
      <%=h number_format(item.size) %></td>
  </tr>
  <% end %>
</table>
