<div class="link">
  <span class="previous">
    <% if @pagination[:prev_uid] %><%= link_to '前へ', gw_webmail_mail_path(@s_params.merge(mailbox: @mailbox.name, id: @pagination[:prev_uid])) %>
    <% end %>
  </span>
  <span class="index">
    <%= link_to '一覧へ戻る', url_for(@s_params.merge(action: :index, mailbox: @mailbox.name, mobile: :list)), class: 'back' %>
  </span>
  <span class="next">
    <% if @pagination[:next_uid] %><%= link_to '次へ', gw_webmail_mail_path(@s_params.merge(mailbox: @mailbox.name, id: @pagination[:next_uid])) %>
    <% end %>
  </span>
  <br />
</div>

<div class="mailboxTitle">
  <%= link_to @mailbox.title, url_for(action: :index, mailbox: @mailbox.name, mobile: :list, page: 1), class: "link" %>
</div>

<div id="mailContent">

<table class="mail">
  <tr>
    <th>送信者</th>
    <td class="autoWrap">
      <%= mail_text_wrap(omit_from_address_in_mail_list(@item.friendly_from_addr)[0]) %>
    </td>
  </tr><tr>
    <th><%= @item.draft? ? '保存日時' : '送信日時' %></th>
    <td><%= @item.date %></td>
  </tr><tr>
    <th>宛先</th>
    <td class="autoWrap to"><%=raw omit_from_addresses_in_mail_list(@item.friendly_to_addrs, auto_link: true, wrap: true) %></td>
  </tr>
  <% if @item.friendly_cc_addrs.present? %><tr>
    <th>Cc</th>
    <td class="autoWrap"><%= mail_text_wrap @item.friendly_cc_addrs.join('，') %></td>
  </tr><% end %>
  <% if @item.friendly_bcc_addrs.present? %><tr>
    <th>Bcc</th>
    <td class="autoWrap"><%= mail_text_wrap @item.friendly_bcc_addrs.join('，') %></td>
  </tr><% end %>
  <tr>
    <th>件名</th>
    <td class="subject autoWrap">
      <%= mail_text_wrap(@item.subject) %>
      <% if @item.has_attachments? %>
      <a href="#attachments" class="attachmentMark" title="<%= @item.attachments.map(&:name).join(', ') %>">添付ファイル有り</a>
      <% end %>
      <a href="#starMail" class="<%= @item.starred? ? 'starOn' : 'starOff' %>" id="mail_star_<%= @item.uid %>" data-uid="<%= @item.uid %>"></a>
      <span id="mail_<%= @item.uid %>_star_loading" class="loading star-loading" style="display:none;"></span>
      <span id="mail_<%= @item.uid %>_labels" class="labels">
        <% @item.labels.each do |label| %>
          <% if label_conf = @label_confs.find{|conf| conf[:id] == label} %>
            <span class="label" style="background-color:<%= label_conf[:color] %>;"><%= label_conf[:name] %></span>
          <% end %>
        <% end %>
      </span>
      <span id="mail_<%= @item.uid %>_label_loading" class="loading label-loading" style="display:none;"></span>
    </td>
  </tr>
</table>

<table class="labelEdit">
  <tr><td>
    <%= link_to 'ラベルを編集▼', '#toggleLabelMenu' %>
  </td></tr> 
</table>

<table id="labelMenu" class="labelMenus" style="display:none;">
  <% @label_confs.each_with_index do |label_conf, i| %>
    <% if i%3 == 0 %><tr><% end %>
    <td class="labelMenu"><%= link_to label_conf[:name], '#labelMail', data: { uid: @item.uid, label_id: label_conf[:id] } %></td>
    <% if i%3 == 2 %></tr><% end %>
  <% end %>
  <tr>
  <td class="labelMenu" colspan="3"><%= link_to 'すべてはずす', '#labelMail', data: { uid: 0 } %></td>
  </tr>
</table>

<% if @mdnRequest.present? && @mdnRequest == :manual && !@item.draft? && @mailbox.name !~ /Sent(\.|$)/ %>
<table id="mdnRequest" class="mailAttention">
  <tr>
    <td class="message">メッセージ送信者は、開封確認を要求しています。開封確認のメールを送信しますか？</td>
  </tr>
  <tr>
    <td class="actions">
    <%= form_for :item, url: send_mdn_gw_webmail_mail_path(@mailbox.name, @item.uid), html: { id: "mail", name: "mdnForm", class: "mdnForm" } do |f| %>
      <%= hidden_field_tag :mobile, 1 %>
      <%= hidden_field_tag :send_mode, 'manual' %>
      <div class="submitters">
        <%= submit_tag '送信', name: 'send', class: 'send' %>
      </div>
    <% end %>
    </td>
  </tr>
</table>
<% end %>

<% if @item.disposition_notification_mail? %>
<table id="mdnAlert" class="mailAttention">
  <tr>
    <td class="message">これは、 <%= @item.friendly_from_addr %> により送信された、開封確認のメールです。</td>
  </tr>
</table>
<% end %>

<div class="mailBody">
  <div id="inlineContents">
  <% @item.inline_contents.each_with_index do |inline, idx| %>
    <div id="inlineContent_<%= inline.seqno %>" class="<%= 'inlineContent' if idx > 0 %>">
      <% if inline.display_as_html? %>
        <div id="htmlBody_<%= inline.seqno %>">
          <%=raw mail_html_autolink(inline.html_body) %>
        </div>
      <% else %>
        <div id="textBody_<%= inline.seqno %>" class="autoWrap mailBodyText">
          <%= mail_text_wrap(inline.text_body, 10, auto_link: true) %>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
  <% if mail_mdn_dipslay?(@item, @mailbox) %>
    <div id="mdnSent" class="recipientConfirm">[開封確認メッセージを送信]</div>
  <% end %>
</div>

<% if @item.has_attachments? %>
<a name="attachments"></a><br />

<table class="mail attachmentDownloader">
  <tr>
    <th class="title">添付ファイル</th>
  </tr>
</table>
<table class="mail attachments">
  <% if (message = mail_form_download_message).present? %>
  <tr>
    <td class="attention">
      <%= message %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td id="showNormalArea">
      <% @item.attachments.each do |at| %>
        <%= link_to_if attachment_file_downloadable?, mail_text_wrap("#{at.name}(#{at.eng_unit})"), url_for(download: at.seqno, size: at.size),
          target: (at.image? ? '_blank' : nil), class: at.css_class %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>

<!-- end #mailContent --></div>

<div class="replyMenu">
<div class="title"><span>返信メニュー</span></div>
<div class="menus">
  <span class="answer">
    <%= link_to '送信者に返信', answer_gw_webmail_mail_path(@mailbox.name, @item.uid) %>
  </span>
  <% if false %>
  <span class="answerWithQuot">
    <%= link_to '送信者に返信（引用有り）', answer_gw_webmail_mail_path(@mailbox.name, @item.uid, qt: 1) %>
  </span>
  <% end %>
  <span class="answerToAll">
    <%= link_to '全員に返信', answer_gw_webmail_mail_path(@mailbox.name, @item.uid, all: 1), class: 'menuItemLink' %>
  </span>
  <% if false %>
  <span class="answerToAllWithQuot">
    <%= link_to '全員に返信（引用有り）', answer_gw_webmail_mail_path(@mailbox.name, @item.uid, all: 1, qt: 1) %>
  </span>
  <% end %>
  <span class="forward">
    <%= link_to '転送', forward_gw_webmail_mail_path(@mailbox.name, @item.uid) %>
  </span>
</div>
</div>

<div class="managementMenu">
<div class="title"><span>管理メニュー</span></div>
<div class="menus">
  <%= form_for :item, url: mobile_manage_gw_webmail_mails_path(@mailbox.name, id: @item.uid), html: { id: 'managementForm', name: 'managementForm', class: 'managementForm' } do |f| %>
    <input type="hidden" name="item[ids][<%= @item.uid %>]" value="1" />
    <% if @item.draft? %>
      <%= submit_tag '編集', name: 'mobile_edit', class: 'edit' %>
      <%= submit_tag '削除', name: 'mobile_delete', class: 'delete' %>
    <% else %>
      <%= submit_tag '編集', name: 'mobile_resend', class: 'edit' if @mailbox.name =~ /^Sent(\.|$)/ %>
      <%= submit_tag '移動', name: 'mobile_move', class: 'move' %>
      <%= submit_tag 'コピー', name: 'mobile_copy', class: 'copy' %>
      <%= submit_tag '削除', name: 'mobile_delete', class: 'delete' %>
    <% end %>
  <% end %>
</div>
</div>

<div class="link">
  <span class="previous">
    <% if @pagination[:prev_uid] %>
      <%= link_to '前へ', url_for(@s_params.merge(mailbox: @mailbox.name, id: @pagination[:prev_uid])) %>
    <% end %>
  </span>
  <span class="index">
    <%= link_to '一覧へ戻る', url_for(@s_params.merge(action: :index, mailbox: @mailbox.name, mobile: :list)), class: 'back' %>
  </span>
  <span class="next">
    <% if @pagination[:next_uid] %>
      <%= link_to '次へ', url_for(@s_params.merge(mailbox: @mailbox.name, id: @pagination[:next_uid])) %>
    <% end %>
  </span>
  <br />
</div>

<script type="text/javascript">
//<![CDATA[
$(function() {
  function syncStarClass(uid, starClass) {
    var title = { starOn: 'スター', starOff: '' };
    var menuText = { starOn: 'スターをはずす', starOff: 'スターを付ける' };
    $('#mail_star_' + uid)
      .removeClass('starOn starOff')
      .addClass(starClass)
      .attr('title', title[starClass]);
    $('a[href="#starMail"]:not(:empty)').text(menuText[starClass]);
  }
  function syncLabels(uid, html) {
    $('#mail_' + uid + '_labels').html(html);
  }
  $('a[href="#toggleLabelMenu"]').on('click', function() {
    $('#labelMenu').toggle();
    var text = $(this).text();
    if (text.match('▼')) {
      $(this).text(text.replace(/▼/,'▲'));
    } else {
      $(this).text(text.replace(/▲/,'▼'));
    }
    return false;
  });
  $('a[href="#labelMail"]').on('click', function() {
    var uid = '<%= @item.uid %>';
    var labelElems = $('#mail_' + uid + '_labels, #mail_' + uid + '_label_loading');

    labelElems.toggle();
    $.get('<%=raw escape_javascript label_gw_webmail_mails_path(@mailbox.name) %>', {
      id: uid,
      label: $(this).attr('data-label-id')
    })
    .done(function(html) {
      syncLabels(uid, html);
    })
    .always(function() {
      labelElems.toggle();
    });
    return false;
  });
  $('a[href="#starMail"]').on('click', function() {
    var uid = '<%= @item.uid %>';
    var elem = $('#mail_star_' + uid);
    var beforeClass = elem.hasClass('starOn') ? 'starOn' : 'starOff';
    var afterClass = beforeClass == 'starOn' ? 'starOff' : 'starOn'
    var loading = $('#mail_' + uid + '_star_loading');

    elem.toggle();
    loading.toggle();
    $.get('<%=raw escape_javascript star_gw_webmail_mails_path(@mailbox.name) %>', {
      id: uid
    })
    .done(function() {
      syncStarClass(uid, afterClass);
    })
    .always(function() {
      elem.toggle();
      loading.toggle();
    });
    return false;
  });
});
//]]>
</script>
