<%
def name_with_prefix(group)
  "　"*(group.level_no-1) + group.name
end
def group_selection(group)
  array = []
  array << [name_with_prefix(group), group.id]
  group.children.each do |g|
    array += group_selection(g)
  end
  array
end

def group_selection_root(groups)
  array = []
  array << ['すべて', 0]
  groups.each do |group|
    array << [group.name, group.id]
    group.children.each do |g|
      array += group_selection(g)
    end
  end
  array 
end

def enum_selected_address
  num = 0
  [:to, :cc, :bcc].each do |t|
    num += session[:mobile][t].length if session[:mobile][t]
  end if session[:mobile]
  num
end

def get_order
  order = Gw::WebmailSetting.user_config_value(:address_order)
  order = order.blank? ? 'email' : order
  order << ', id'
end

params[:group_id] = nil if params[:clear]

@group = Gw::WebmailAddressGroup.new(id: 0, name: 'すべて')
if params[:group_id].present?
  gid = params[:group_id].to_i
  if gid != 0
    @group = Gw::WebmailAddressGroup.find(params[:group_id])
    @items = @group.addresses.order(get_order)
  end
end

%>

<div class="addressGroupTitle">
  <%= Joruri.config.application['webmail.address_group_menu'] %>
</div>

<%= form_tag gw_webmail_address_groups_path, { id: 'groupForm', name: 'groupForm', class: 'groupForm', method: :get } do |f| %>
  グループ：<%= select_tag :group_id, options_for_select(group_selection_root(@root_groups), @group.id), class: 'selectUI', :onchange => "changeSelection();" %><br/>
  <%#= submit_tag '検索', name: 'select', class: 'search' %>
  <%= submit_tag 'リセット', name: 'clear', class: 'reset' %>
<% end %>

<div id="nowLoading" class="nowLoading" style="display:none;">Now Loading...</div>

<%= form_for :item, url: mobile_manage_gw_webmail_address_groups_path, html: { id: 'mailForm', name: 'mailForm', class: 'mailForm' } do |f| %>
  <%= hidden_field_tag :group_id, params[:group_id] %>

  <div class="groupTitle"><%= @group.name%></div>

  <% if @items.blank? %>
    <div class="notice">登録アドレスはありません。</div>
  <% else %>
    <table class="index">
      <tr>
        <th class="checkUI">TO</th>
        <th class="checkUI">CC</th>
        <th class="checkUI">BCC</th>
        <th>名前</th>
      </tr>
      <% @items.each do |u| %>
      <tr>
        <td class="checkUI"><input type="checkbox" name="to[<%= u.id %>]" value="1" class="checkUI" /></td>
        <td class="checkUI"><input type="checkbox" name="cc[<%= u.id %>]" value="1" class="checkUI" /></td>
        <td class="checkUI"><input type="checkbox" name="bcc[<%= u.id %>]" value="1" class="checkUI" /></td>
        <td><%= link_to mail_text_wrap("#{u.name} <#{u.email}>"), gw_webmail_address_path(u.id, group_id: @group.id), class: 'address' %></td>
      </tr>
      <% end %>
    </table>
    <%= submit_tag 'アドレス選択', name: 'selectAddress', class: 'selectAddress' %><br />
  <% end %>

  <% if enum_selected_address != 0 %>
    <div class="selectedAddressesTitle">選択済みアドレス</div>
    <table class="selectedAddresses">
    <% [:to, :cc, :bcc].each do |t| %>
      <% if session[:mobile][t].present? %>
        <tr><th colspan="2"><%= t.upcase %></th></tr>
        <% session[:mobile][t].each_with_index do |u,idx| %>
        <tr>
          <td><%= submit_tag '削除', name: "deleteAddress=#{t}_#{idx}", class: 'deleteAddress' %></td>
          <td><%= mail_text_wrap u %></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </table>
  <% end %>

  <% if enum_selected_address != 0 || @items.present? %>
    <%= submit_tag 'メール作成', name: 'createMail', class: 'createMail' %>
  <% end %>
<% end %>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('#group_id').on('change', function() {
    $('#nowLoading').show();
    $('#mailForm').hide();
    $('#groupForm').submit();
  });
});
//]]>
</script>
