<table id="webmailContainer"><tr><td id="webmailContent"><div id="addressContent">

<div class="actionMenu">
<%= link_to :index, gw_webmail_address_groups_path %>
</div>

<%= form_for :item, :url => {:action => :create} do |f| %>
<%= f.error_messages %>
<%= render :partial => 'form', :locals => {:f => f} %>
<%=raw submit(:register) %>
<% end %>

</div><!-- end #webmailContainer --></td></table>
