<table id="webmailContainer"><tr><td id="webmailMenu">

<%= render :partial => 'menu'%>
<%= render :partial => 'groups' %>
<%= render :partial => "#{File.dirname(params[:controller])}/addresses/lower_menu" %>

</td><td id="webmailContent"><div id="addressContent">

<%= render :partial => "search" %>
<p class="form"><%=h @item.name %></p>

<%= render :file => "#{File::dirname(params[:controller])}/addresses/index" %>

</div><!-- end #webmailContainer --></td></table>
