<table id="webmailContainer"><tr><td id="webmailMenu">

<%= render 'menu'%>
<%= render 'groups' %>
<%= render "#{File.dirname(params[:controller])}/addresses/lower_menu" %>

</td><td id="webmailContent"><div id="addressContent">

<%= render "search" %>
<p class="form"><%= @item.name %></p>

<%= render file: "#{File::dirname(params[:controller])}/addresses/index" %>

</div><!-- end #webmailContainer --></td></table>
