<%= javascript_include_tag "/_common/js/mail_form.js" %>
<table id="webmailContainer"><tr><td id="webmailContent"><div id="addressContent">

<div class="actionMenu">
<%= link_to :index, gw_webmail_address_groups_path %>
<%= action_menu :edit    if safe{@item.editable?} %>
<%= action_menu :destroy if safe{@item.deletable?} %>
<%= link_to "メール作成", '#', :onclick => open_mail_form(create_mail_gw_webmail_address_path) %>
</div>

<table style="width: 100%;"><tr><td style="width: 49%; vertical-align: top;">

  <table class="show addressInfo">
    <tr>
      <th><%= @item.locale(:name) %></th>
      <td><%=h @item.name %></td>
    </tr><tr>
      <th><%= @item.locale(:kana) %></th>
      <td><%=h @item.kana %></td>
    </tr>
    <tr>
      <th><%= @item.locale(:sort_no) %></th>
      <td><%= @item.sort_no %></td>
    </tr>
  </table>

</td><td style="width: 16px;"></td><td style="vertical-align: top;">

  <table class="show addressInfo">
    <tr>
      <th><%= @item.locale(:group_id) %></th>
      <td><% if @item.groups.size > 0 %>
        <% @item.sorted_groups.each do |g| %>
          <div><% g.parents_tree_names.each_with_index do |name, idx| %>
            <%= (idx > 0 ? ' > ' : '') + name %>
          <% end %></div>
        <% end %>
      <% else %>未分類
      <% end %></td>
    </tr>
  </table>
  
</td></tr></table>

<br />
<table style="width: 100%;"><tr><td style="width: 49%; vertical-align: top;">
  
  <table class="show addressInfo">
    <tr>
      <th><%= @item.locale(:email) %></th>
      <td><%=h @item.email %></td>
    </tr><tr>
      <th><%= @item.locale(:mobile_tel) %></th>
      <td><%=h @item.mobile_tel %></td>
    </tr><tr>
      <th><%= @item.locale(:uri) %></th>
      <td><%=h @item.uri %></td>
    </tr><tr>
      <th><%= @item.locale(:tel) %></th>
      <td><%=h @item.tel %></td>
    </tr><tr>
      <th><%= @item.locale(:fax) %></th>
      <td><%=h @item.fax %></td>
    </tr><tr>
      <th><%= @item.locale(:zip_code) %></th>
      <td><%=h @item.zip_code %></td>
    </tr><tr>
      <th><%= @item.locale(:address) %></th>
      <td><%=hbr @item.address %></td>
    </tr>
  </table>
  
</td><td style="width: 16px;"></td><td style="vertical-align: top;">
  
  <table class="show addressInfo">
    <tr>
      <th><%= @item.locale(:company_name) %></th>
      <td><%=h @item.company_name %></td>
    </tr><tr>
      <th><%= @item.locale(:company_kana) %></th>
      <td><%=h @item.company_kana %></td>
    </tr><tr>
      <th><%= @item.locale(:official_position) %></th>
      <td><%=h @item.official_position %></td>
    </tr><tr>
      <th><%= @item.locale(:company_tel) %></th>
      <td><%=h @item.company_tel %></td>
    </tr><tr>
      <th><%= @item.locale(:company_fax) %></th>
      <td><%=h @item.company_fax %></td>
    </tr><tr>
      <th><%= @item.locale(:company_zip_code) %></th>
      <td><%=h @item.company_zip_code %></td>
    </tr><tr>
      <th><%= @item.locale(:company_address) %></th>
      <td><%=hbr @item.company_address %></td>
    </tr>
  </table>
  
</td></tr></table>

<% if !@item.memo.blank? %>
<br />
<table class="show addressInfo">
  <tr>
    <th><%= @item.locale(:memo) %></th>
  </tr><tr>
    <td><%=hbr @item.memo %></td>
  </tr>
</table>
<% end %>

</div><!-- end #webmailContainer --></td></tr></table>
