<%
def name_with_prefix(group)
  "　"*(group.level_no-2) + group.name
end

def parent_groups(group)
  parents = []
  parent = group.parent
  while parent && parent.level_no != 1 do
    parents << parent
    parent = parent.parent
  end
  parents.reverse!
end

def group_selection(group)
  array = [["// 選択してください",0]]
  parents = parent_groups(group)
  parents.each do |parent|
    array << [name_with_prefix(parent), parent.id]
  end
  if group != @root
    array << [name_with_prefix(group), group.id]
  end
  group.enabled_children.each do |g|
    array << [name_with_prefix(g), g.id]
  end
  array
end

def enum_selected_address
  num = 0
  [:to, :cc, :bcc].each do |t|
    num += session[:mobile][t].length if session[:mobile][t]
  end if session[:mobile]
  num
end

def get_order
  order = Gw::WebmailSetting.user_config_value(:sys_address_order)
  order = order.blank? ? 'email' : order
  order << ', id'
end

params[:group_id] = nil if params[:clear]

unless params[:group_id].blank?
  @group = Sys::Group.find_by(id: params[:group_id].to_i) || @root
  @groups = @group.enabled_children
end

@users = @group.users_having_email(get_order)
%>

<div class="sysAddressTitle">
  <%= Joruri.config.application['webmail.sys_address_menu'] %>
</div>

<%= form_tag gw_webmail_sys_addresses_path, { id: 'groupForm', name: 'groupForm', class: 'groupForm', method: :get } do |f| %>
  グループ：<%= select_tag :group_id, options_for_select(group_selection(@group), @group.id), class: 'selectUI' %><br/>
  <%#= submit_tag "検索", :name => 'select', :class => 'search' %>
  <%= submit_tag "リセット", name: 'clear', class: 'reset' %>
<% end %>

<div id="nowLoading" class="nowLoading" style="display:none;">Now Loading...</div>

<%= form_for :item, url: mobile_manage_gw_webmail_sys_addresses_path, html: { id: 'mailForm', class: 'mailForm', name: 'mailForm' } do |f| %>
  <%= hidden_field_tag :group_id, params[:group_id] %>

  <% if @group != @root %>
  <div class="groupTitle"><%= @group.name %></div>
  <% end %>

  <% if @users.blank? %>
    <% if @group != @root %>
      <div class="notice">次の階層を選択してください。</div>
    <% end %>
  <% else %>
    <table class="index">
      <tr>
        <th class="checkUI">TO</th>
        <th class="checkUI">CC</th>
        <th class="checkUI">BCC</th>
        <th>名前</th>
      </tr>
      <% @users.each do |u| %>
      <tr>
        <td class="checkUI"><input type="checkbox" name="to[<%= u.id %>]" class="checkUI" value="1" /></td>
        <td class="checkUI"><input type="checkbox" name="cc[<%= u.id %>]" class="checkUI" value="1" /></td>
        <td class="checkUI"><input type="checkbox" name="bcc[<%= u.id %>]" class="checkUI" value="1" /></td>
        <td><%= link_to mail_text_wrap("#{u.name} <#{u.email}>"), gw_webmail_sys_address_path(u.id, group_id: @group.id), class: 'address' %></td>
      </tr>
      <% end %>
    </table>
    <%= submit_tag 'アドレス選択', name: 'selectAddress', class: 'selectAddress' %><br />
  <% end %>

  <% if enum_selected_address != 0 %>
  <div class="selectedAddressesTitle">選択済みアドレス</div>
  <table class="selectedAddresses">
  <% [:to, :cc, :bcc].each do |t| %>
    <% if session[:mobile][t].present? %>
      <tr><th colspan="2"><%= t.upcase %></th></tr>
      <% session[:mobile][t].each_with_index do |u,idx| %>
      <tr>
        <td><%= submit_tag '削除', class: 'deleteAddress', name: "deleteAddress=#{t}_#{idx}" %></td>
        <td><%= mail_text_wrap u %></td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
  </table>
  <% end %>

  <% if enum_selected_address != 0 || @users.present? %>
    <%= submit_tag 'メール作成', name: 'createMail', class: 'createMail' %>
  <% end %>
<% end %>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('#group_id').on('change', function() {
    $('#nowLoading').show();
    $('#mailForm').hide();
    $('#groupForm').submit();
  });
});
//]]>
</script>
