<table id="webmailContainer"><tr><td id="webmailMenu" style="width: 25%;">
<div id="webmailMenuContainer">

<div class="mailbox addressTree">
  <ul class="root" id="folderRoot">
    <li class="folder" id="resultSearch" style="display: none;">
      <a href="#toggleGroups" id="toggleGroupSearch" data-gid="Search" class="toggleGroups toggleGroupsOpen">-</a>
      <a href="#loadAddresses" id="groupSearch" data-gid="Search">検索結果一覧</a>
      <ul class="children" id="childGroupsSearch">
        <script id="childGroupsSearchTemplate" type="text/x-jsrender">
          <li class="folder" id="result{{:gid}}" data-gid="{{:gid}}">
            <a href="#" class="toggleGroups" style="visibility:hidden;">+</a>
            <a href="#loadAddresses" id="group{{:gid}}" data-gid="{{:gid}}">{{>gname}}</a>
          </li>
        </script>
      </ul>
    </li>
  </ul>
  <ul class="root" id="folderRoot">
    <% @groups.each do |group| %>
      <li class="folder">
        <% if group.enabled_children.count > 0 %>
          <a href="#toggleGroups" id="toggleGroup<%= group.id %>" data-gid="<%= group.id %>" class="toggleGroups toggleGroupsClose">+</a>
        <% else %>
          <a href="#" class="toggleGroups" style="visibility:hidden;">+</a>
        <% end %>
        <a href="#loadAddresses" id="group<%= group.id %>" data-gid="<%= group.id %>"><%= group.name %></a>
      </li>
    <% end %>
    <script id="childGroupsTemplate" type="text/x-jsrender">
      <ul class="children" id="childGroups{{:id}}">
        {{for children}}
          <li class="folder">
            {{if hasChildren}}
              <a href="#toggleGroups" id="toggleGroup{{:id}}" data-gid="{{:id}}" class="toggleGroups toggleGroupsClose">+</a>
            {{else}}
              <a href="#" class="toggleGroups" style="visibility:hidden;">+</a>
            {{/if}}
            <a href="#loadAddresses" id="group{{:id}}" data-gid="{{:id}}">{{>name}}</a>
          </li>
        {{/for}}
      </ul>
    </script>
  </ul>
</div>

</div>
</td><td id="webmailContent"><div id="addressContent">
<div id="sysAddresses">

<%= form_tag gw_webmail_sys_addresses_path, method: :get, id: 'searchForm', class: 'search' do %>
<table>
  <tr>
    <th>名前</th>
    <td><%= text_field_tag :s_name_or_kana, '', class: 'name', style: 'width: 120px;' %></td>
    <th>メールアドレス</th>
    <td><%= text_field_tag :s_email, '', class: 'email', style: 'width: 200px;' %></td>
    <td class="formSubmitters">
      <%= submit_tag '検索', name: :search %>
      <%= submit_tag 'リセット', name: :reset %>
    </td>
  </tr>
</table>
<% end %>

<%= form_for :item, url: { action: :index }, html: { id: 'users', name: 'users', target: '_blank' } do |f| %>
<div id="addresses">
  <script id="addressesTemplate" type="text/x-jsrender">
    <div id="addresses{{:group_id}}" data-gid="{{:group_id}}">
      <p class="form">{{>group_name}}</p>
      <div class="actionMenu">
        <span class="addAddressRemarks">個人アドレス帳に登録する</span>
        <a href="#createMail" class="create" title="メール作成">メール作成</a>
        {{if search}} 
          <a href="#removeSearchResult" class="delete" title="検索結果削除">検索結果削除</a>
        {{/if}}
      </div>
      <table class="index">
        <tbody>
          <tr>
            <th class="checkUI"><a href="#checkAll" title="TO" data-type="to">TO</a></th>
            <th class="checkUI"><a href="#checkAll" title="CC" data-type="cc">CC</a></th>
            <th class="checkUI"><a href="#checkAll" title="BCC" data-type="bcc">BCC</a></th>
            <th style="width: 18%;">
              <a class="sorter" href="#sortAddresses" data-key="name">名前{^{:sort_key == "name" ? sort_order: ""}}</a>
            </th>
            <th style="width: 18%;">
              <a class="sorter" href="#sortAddresses" data-key="kana">フリガナ{^{:sort_key == "kana" ? sort_order: ""}}</a>
            </th>
            <th style="width: 15%;">
              <a class="sorter" href="#sortAddresses" data-key="sort_no">役職(担当順){^{:sort_key == "sort_no" ? sort_order: ""}}</a>
            </th>
            <th style="width: ;">
              <a class="sorter" href="#sortAddresses" data-key="email">メールアドレス{^{:sort_key == "email" ? sort_order: ""}}</a>
            </th>
          </tr>
          {^{for users}}
            <tr data-uid="{{:id}}">
              <td class="checkUI"><input type="checkbox" name="to[{{:id}}]" value="1" data-link="checked.to" /></td>
              <td class="checkUI"><input type="checkbox" name="cc[{{:id}}]" value="1" data-link="checked.cc" /></td>
              <td class="checkUI"><input type="checkbox" name="bcc[{{:id}}]" value="1" data-link="checked.bcc" /></td>
              <td>
                <a href="#showAddress">
                  {{>name}}
                  {{if #parent.parent.data.search && group_name}}
                    <span>（{{>group_name}}）</span>
                  {{/if}}
                </a>
              </td>
              <td>{{>kana}}</td>
              <td>{{>official_position}}</td>
              <td>{{>email}}
                <a class="addAddress" title="個人アドレス帳に登録する" href="#addAddress" data-email="{{>email}}" data-name="{{>name}}" data-kana="{{>kana}}">
                  [個人アドレス帳に登録する]
                </a>
                <div class="sortNo" style="display:none;">{{>sort_no}}</div>
              </td>
            </tr>
          {{/for}}
        </tbody>
      </table>
      <div class="actionMenu">
        <a href="#createMail" class="create" title="メール作成">メール作成</a>
        {{if search}}
          <a href="#removeSearchResult" class="delete" title="検索結果削除">検索結果削除</a>
          {{if users_total_entries > users_size}}
            <div class="limitedMessage">{{:users_total_entries}} 件中 {{:users_size}} 件を表示しました。</div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </script>
</div>
<div id="addressesSearch" data-gid="Search" style="display:none;">
  <p class="form">検索結果一覧</p>
  <table class="index">
    <thead>
      <tr>
        <th style="width:150px;">検索結果</th>
        <th>検索条件</th>
      </tr>
    </thead>
    <tbody id="searchResultList">
      <script id="searchResultListTemplate" type="text/x-jsrender">
        <tr id="condition{{:gid}}">
          <td><a href="#loadAddresses" data-gid="{{:gid}}">{{>gname}}</a></td>
          <td>
            {{if name != ''}}
              <div><span class="condition">名前</span> ： {{>name}}</div>
            {{/if}}
            {{if email != ''}}
              <div><span class="condition">メールアドレス</span> ： {{>email}}</div>
            {{/if}}
          </td>
        </tr>
      </script>
    </tbody>
  </table>
</div>
<% end %>
<!-- end #sysAddresses --></div>
<div id="sysAddress" style="display:none;">
</div>

<!-- end #addressContent --></div><!-- end #webmailContainer --></td></table>

<script type="text/javascript">
//<![CDATA[
$(function() {
  var addressView = [];
  addressView.loading = false;
  addressView.searchCount = 0;
  addressView.findByGid = function(gid) {
    return $.grep(this, function(g) {
      return g.group_id == gid;
    })[0];
  }
  addressView.removeData = function(gid) {
    $.each(this, function(i) {
      if (this.group_id == gid) {
        $.observable(addressView).remove(i);
        return;
      }
    });
  }
  addressView.checkAll = function(idx, type) {
    var grouping = this[idx];
    var flag = !grouping.checked[type]
    $.observable(grouping).setProperty('checked.' + type, flag);
    $.each(grouping.users, function() {
      $.observable(this).setProperty('checked.' + type, flag);
    });
  }
  addressView.sortAddresses = function(idx, key) {
    var grouping = this[idx];
    var order = grouping.sort_order.match(/▲/) ? '▼' : '▲';
    $.observable(grouping).setProperty({sort_key: key, sort_order: order});
    $.observable(grouping.users).refresh(
      grouping.users.sort(function(a, b) {
        if (order == '▲') {
          return a[key] > b[key] ? 1 : -1;
        } else {
          return a[key] < b[key] ? 1 : -1;
        }
      })
    );
  }
  addressView.searchAddresses = function(name_or_kana, email) {
    this.searchCount++;
    this.loadAddresses('Search' + this.searchCount, {
      search: 'on',
      gid: 'Search' + this.searchCount,
      gname: '検索結果（' + this.searchCount + '）',
      index: this.searchCount,
      s_name_or_kana: name_or_kana,
      s_email: email
    });
  }
  addressView.loadAddresses = function(gid, params) {
    params = params || {};
    if (addressView.loading) return;
    $('[id^="group"][data-gid]').removeClass('current')
      .filter('[data-gid="' + gid + '"]')
      .addClass('current');
    $('[id^="addresses"][data-gid]').hide();

    if (gid == 'Search') {
      $('#addressesSearch').show();
    } else {
      var grouping = this.findByGid(gid);
      if (grouping) {
        $('#addresses' + gid).show();
      } else {
        addressView.loading = true;
        $.get(gid.match(/^Search/) ?
          '<%= gw_webmail_sys_addresses_path %>.json' :
          '<%= gw_webmail_sys_addresses_path %>/' + gid + '/child_users.json',
          params
        )
        .done(function(data) {
          $.observable(addressView).insert(data);
          if (gid.match(/^Search/)) {
            searchGroupView.addData(params);
            searchCondView.addData(params);
            $('#resultSearch').show();
            $('#group' + gid).addClass('current');
          }
          addressView.loading = false;
        });
        if ($('#toggleGroup' + gid).text() == '+') {
          toggleGroup(gid);
        }
      }
    }
  }
  var searchCondView = [];
  searchCondView.addData = function(data) {
    $.observable(this).insert({
      gid: data.gid,
      gname: data.gname,
      name: data.s_name_or_kana,
      email: data.s_email
    });
  }
  searchCondView.removeData = function(gid) {
    $.each(searchCondView, function(i) {
      if (this.gid == gid) {
        $.observable(searchCondView).remove(i);
        return;
      }
    });
  }
  var searchGroupView = [];
  searchGroupView.addData = function(data) {
    $.observable(this).insert({
      gid: data.gid,
      gname: data.gname
    });
  }
  searchGroupView.removeData = function(gid) {
    $.each(searchGroupView, function(i) {
      if (this.gid == gid) {
        $.observable(searchGroupView).remove(i);
        return;
      }
    });
  }

  var togglingFlag = false;

  $.templates("#addressesTemplate").link('#addresses', addressView)
    .on('click', 'a[href="#checkAll"]', function() {
      var idx = $.view(this).index;
      var type = $(this).attr('data-type');
      addressView.checkAll(idx, type);
      return false;
    })
    .on('click', 'a[href="#sortAddresses"]', function() {
      var idx = $.view(this).index;
      var key = $(this).attr('data-key');
      addressView.sortAddresses(idx, key);
      return false;
    });
  $.templates("#searchResultListTemplate").link('#searchResultList', searchCondView);
  $.templates("#childGroupsSearchTemplate").link('#childGroupsSearch', searchGroupView);

  $(document).on('click', 'a[href="#toggleGroups"]', function() {
    var gid = $(this).attr('data-gid');
    toggleGroup(gid)
    return false;
  })
  .on('click', 'a[href="#loadAddresses"]', function() {
    var gid = $(this).attr('data-gid');
    returnToAddresses();
    addressView.loadAddresses(gid);
    return false;
  })
  .on('click', 'a[href="#removeSearchResult"]', function() {
    var gid = $(this).parents('[data-gid]:first').attr('data-gid');
    searchGroupView.removeData(gid);
    searchCondView.removeData(gid);
    addressView.removeData(gid);
    return false;
  })
  .on('click', 'a[href="#showAddress"]', function() {
    var uid = $(this).parents('[data-uid]:first').attr('data-uid');
    $.get('<%= gw_webmail_sys_addresses_path %>/' + uid).done(function(data) {
      $('#sysAddress').html(data).show();
      $('#sysAddresses').hide();
    });
    return false;
  })
  .on('click', 'a[href="#returnToAddresses"]', function() {
    returnToAddresses();
    return false;
  });
  $('#searchForm input[name="search"]').on('click', function() {
    addressView.searchAddresses($('#s_name_or_kana').val(), $('#s_email').val());
    return false;
  });
  function toggleGroup(gid) {
    if (togglingFlag) return;
    var childGroups = $('#childGroups' + gid);
    if (childGroups.length) {
      var toggleGroup = $('#toggleGroup' + gid);
      if (toggleGroup.text() == '+') {
        childGroups.show();
        toggleGroup.text('-').toggleClass('toggleGroupsOpen toggleGroupsClose');
      } else {
        childGroups.hide();
        toggleGroup.text('+').toggleClass('toggleGroupsOpen toggleGroupsClose');
      }
    } else {
      togglingFlag = true;
      $.get('<%= gw_webmail_sys_addresses_path %>/' + gid + '/child_groups.json').done(function(data) {
        $('#group' + gid).parent().append( $('#childGroupsTemplate').render(data) );
        $('#toggleGroup' + gid).text('-').toggleClass('toggleGroupsOpen toggleGroupsClose');
        togglingFlag = false;
      });
    }
  }
  function returnToAddresses() {
    var address = $('#sysAddress');
    var addresses = $('#sysAddresses');
    if (address.is(':visible')) { address.hide(); }
    if (addresses.is(':hidden')) { addresses.show(); }
  }

  $(document).on('click', 'a[href="#createMail"]', function() {
    var num = {
      to: $('input[name^="to"]:checked').length,
      cc: $('input[name^="cc"]:checked').length,
      bcc: $('input[name^="bcc"]:checked').length
    }
    if (num['to'] + num['cc'] + num['bcc'] == 0) {
      alert("ユーザを選択してください。");
    } else if (num['to'] > 150) {
      alert("宛先に選択できるのは150件までです。");
    } else if (num['cc'] > 150) {
      alert("Ccに選択できるのは150件までです。");
    } else if (num['bcc'] > 150) {
      alert("Bccに選択できるのは150件までです。");
    } else {
      var w = openMailForm("", '<%=raw mail_form_style %>', "mailForm" + new Date().getTime());
      var form = $('#users');
      form.attr('target', w.name);
      form.submit();
    }
    return false;
  })
  .on('click', 'a[href="#addAddress"]', function() {
    $.post('<%= gw_webmail_addresses_path(format: :json) %>', {
      authenticity_token: "<%= form_authenticity_token %>",
      "item[easy_entry]" : true,
      "item[email]" : $(this).data('email'),
      "item[name]"  : $(this).data('name'),
      "item[kana]"  : $(this).data('kana')
    })
    .done(function() {
      alert('アドレス帳に登録しました。');
    })
    .fail(function(request) {
      var message = request.responseJSON[0];
      alert(message == '' ? '送信に失敗しました。' : message);
    });
    return false;
  });
});
//]]>
</script>
