<div class="actionMenu">
<%= link_to :index, '#', :onclick => "returnToAddresses();return false;" %>
<%= link_to "メール作成", '#', :onclick => open_mail_form(create_mail_gw_webmail_sys_address_path(@item.id)) %>
<%= link_to "個人アドレス帳に登録", '#',
  :onclick => "addAddress('#{escape_javascript(@item.email)}', '#{escape_javascript(@item.name)}', '#{escape_javascript(@item.kana)}');return false;"%>
</div>
<table class="show">
  <tr>
    <th><%= '所属部署' %></th>
    <td><%= safe {@item.groups.first.full_name} %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:kana) %></th>
    <td><%= @item.kana %></td>
  </tr><tr>
    <th><%= @item.locale(:email) %></th>
    <td><%= @item.email %></td>
  </tr><tr>
    <th><%= @item.locale(:official_position) %></th>
    <td><%= @item.official_position %></td>
  </tr><tr>
    <th><%= @item.locale(:assigned_job) %></th>
    <td><%= @item.assigned_job %></td>
  </tr>
</table>

