<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=<%= request.mobile.default_charset %>" />
<meta http-equiv="content-style-type" content="text/css" />
<title><%=h Core.title %></title>
<%= csrf_meta_tag %>
<%= stylesheet_link_tag '/_common/themes/admin/gw/webmail/mobile/style', :media => 'all' %>
</head>
<body>

<div id="container">

<div id="header">
<div id="headerContainer">
<div id="headerBody">

<%= render :partial => 'layouts/admin/gw/header_mobile' %>

<!-- end #headerBody --></div>
<!-- end #headerContainer --></div>
<!-- end #header --></div>

<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
<% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>

<div id="content">
<div id="contentContainer">
<div id="contentBody">

<%= render :partial => 'show_mobile' %> 

<!-- end #contentBody --></div>
<!-- end #contentContainer --></div>
<!-- end #content --></div>

<div id="footer">
<div id="footerContainer">
<div id="footerBody">

<%= render :partial => 'layouts/admin/gw/footer_mobile' %>

<!-- end #footerBody --></div>
<!-- end #footerContainer --></div>
<!-- end #footer --></div>

<!-- end #container --></div>

</body>
</html>
