<div class="groups"><%= Joruri.config.application['webmail.sys_address_menu'] %></div>
<div class="sysUser">
<div class="showItem">
  <font class="title"><%= '所属部署' %></font>
  <font class="value"><%= @item.groups.first.full_name if @item.groups.first %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :name %></font>
  <font class="value"><%= @item.name %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :kana %></font>
  <font class="value"><%= @item.kana %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :official_position %></font>
  <font class="value"><%= @item.official_position %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :assigned_job %></font>
  <font class="value"><%= @item.assigned_job %></font>
</div>
<div class="showItem">
  <font class="title"><%= @item.class.human_attribute_name :email %></font>
  <font class="value"><%= @item.email %></font>
</div>
</div>

<div class="newMailMenu">
<%= form_tag mobile_manage_gw_webmail_sys_addresses_path, { id: 'mailForm', name: 'mailForm', class: 'mailForm' } do |f| %>
  <%= hidden_field_tag "to[#{@item.id}]", '1' %>
  <%= hidden_field_tag :group_id, params[:group_id] %>
  <%= submit_tag 'メール作成', class: 'menuItem', name: 'createMail', accesskey: '1' %>
<% end %>
</div>

<%= link_to '<戻る', gw_webmail_sys_addresses_path(group_id: params[:group_id]), class: 'link' %>
