<%= f.error_messages %>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :in_group_id %></th>
    <td><%= f.select :in_group_id, Sys::Group.select_options, include_blank: true %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :account %></th>
    <td><%= f.text_field :account, class: 'id' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= f.text_field :name, class: 'name' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :kana %></th>
    <td><%= f.text_field :kana, class: 'name' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name_en %></th>
    <td><%= f.text_field :name_en, class: 'nameEn' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :email %></th>
    <td><%= f.text_field :email, class: 'email' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= f.text_field :sort_no, class: 'name' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :official_position %></th>
    <td><%= f.text_field :official_position, class: 'name' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :assigned_job %></th>
    <td><%= f.text_field :assigned_job, class: 'name' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= f.collection_radio_buttons :state, @item.states, :last, :first, class: 'status' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :auth_no %></th>
    <td><%= f.collection_radio_buttons :auth_no, @item.authes, :last, :first, class: 'status' %></td>
  </tr>
</table>

<br />

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :ldap %></th>
    <td><%= f.collection_radio_buttons :ldap, @item.class.ldap.options, :last, :first, class: 'status' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :password %><br />※非同期時に使用</th>
    <td><%= f.text_field :password, class: 'id' %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :mobile_access %></th>
    <td><%= f.collection_radio_buttons :mobile_access, @item.class.mobile_access.options, :last, :first %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :mobile_password %><br />※携帯端末ログイン時に使用</th>
    <td><%= f.text_field :mobile_password, class: 'mobilePassword' %></td>
  </tr>
</table>

<div class="submitters">
  <%= f.submit %>
</div>
