<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :in_group_id %></th>
    <td><%= @item.group.name if @item.group %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :account %></th>
    <td><%= @item.account %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :kana %></th>
    <td><%= @item.kana %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :name_en %></th>
    <td><%= @item.name_en %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :email %></th>
    <td><%= @item.email %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :sort_no %></th>
    <td><%= @item.sort_no %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :official_position %></th>
    <td><%= @item.official_position %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :assigned_job %></th>
    <td><%= @item.assigned_job %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :state %></th>
    <td><%= @item.status.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :auth_no %></th>
    <td><%= @item.auth_name %></td>
  </tr>
</table>

<br />

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :ldap %></th>
    <td><%= @item.ldap_label %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :password %></th>
    <td><%= @item.password %></td>
  <tr>
    <th><%= @item.class.human_attribute_name :mobile_access %></th>
    <td><%= @item.mobile_access_label %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :mobile_password %></th>
    <td><%= @item.mobile_password %></td>
  </tr>
</table>
