<%= f.error_messages %>

<% case @item.config.form_type %>
<% when :select, :text_field, :password_field %>
  <table class="show">
    <tr>
      <th>設定名</th>
      <td><%= @item.config.title %></td>
    </tr><tr>
      <th>設定値</th>
      <td>
        <% case @item.config.form_type %>
        <% when :select %>
          <%= f.select :value, @item.config.options %>
        <% when :text_field %>
          <%= f.text_field :value, style: 'width: 500px;' %>
        <% when :password_field %>
          <%= f.password_field :value, style: 'width: 300px;', value: @item.value %>
        <% end %>
        <%=raw @item.config.lower_text if @item.config.lower_text %>
      </td>
    </tr>
  </table>
<% when :account_password_field %>
  <%= render 'webmail/admin/settings/account_password_field/form' %>
<% when :label_color_field %>
  <%= render 'webmail/admin/settings/label_color_field/form' %>
<% end %>

<div class="submitters">
  <%= f.submit %>
</div>
