<%
path_options = []
@mailboxes.each do |box|
  next if box.name =~ /^(Drafts|Trash|Star)(\.|$)/
  next if box.name == @mailbox.name
  next if box.name.index("#{@mailbox.name}.") == 0
  path_options << [box.slashed_title, "#{box.name}."]
end
%>
<table id="webmailContainer"><tr><td id="webmailMenu">
<div id="webmailMenuContainer">

<div class="menu">
  <%= link_to 'フォルダの登録', url_for(action: :new, mailbox: 'INBOX'), class: 'newMailbox', title: 'フォルダの登録' %>
</div>

<%= render 'gw/admin/webmail/base/account' %>
<%= render 'mailbox' %>

</div>
</td><td id="webmailContent"><div id="mailboxContent">

<%= error_messages_for :item %>

<p class="form"><%= @mailbox.title %></p>

<% if @mailbox.name == 'Trash' || @mailbox.name == 'Star' || @mailbox.name =~ /^Drafts(\.|$)/ %>
  <div style="margin-top: 10px;"><%= @mailbox.title %>は変更できません。</div>
<% elsif @mailbox.name !~ /^Trash\./ %>
  <%= form_for :item, url: { action: :create } do |f| %>
  <%= f.hidden_field :path, value: "#{@item.name}." %>
  <table class="show" style="height: 40px;"><tr>
    <th style="">新しいフォルダの登録</th>
    <td style="">
      <%= f.text_field :title, value: '' %>
      <%= f.submit '登録する' %>
    </td>
  </tr></table>
  <% end %>
<% end %>
  
<% if @mailbox.name !~ /^(INBOX|Drafts|Sent|Archives|Trash|Star)$/ %>
  <br />
  <%= form_for :item, url: { action: :update }, html: { method: :patch } do |f| %>
    <table class="show" style="height: 40px;">
      <tr>
        <th style="">フォルダ名の変更</th>
        <td style="">
          <%= f.text_field :title %>
          <%= f.submit '変更する' %>
        </td>
      </tr>
    </table>
  <% end %>
  <br />
  <%= form_for :item, url: { action: :update }, html: { method: :patch } do |f| %>
    <table class="show" style="height: 40px;">
      <tr>
        <th style="">フォルダの移動</th>
        <td style="">
          <%= f.select :path, path_options, include_blank: '（ルート階層）' %>
          <%= f.submit '移動する' %>
        </td>
      </tr>
    </table>
  <% end %>
  <div style="height:150px"></div>
  <table class="show" style="height: 40px;">
    <tr>
      <th style="">フォルダの削除</th>
      <td style="">
        <%= link_to '削除する', url_for(action: :destroy), method: :delete, data: { confirm: '削除してよろしいですか？' } %>
      </td>
    </tr>
  </table>
<% end %>

</div><!-- end #webmailContainer --></td></table>
