<%
subject_wrap = @mail_list_subject.blank? ? '' : 'autoWrap'
%>
<table id="mails" class="mails">
  <tr>
    <th class="drag" data-action="drag"></th>
    <th class="check"><input type="checkbox" id="checkAll" value="0" /></th>
    <th class="<%= params[:sort_starred] == '1' ? 'starOn' : 'starOff' %>" title="スター"
      onclick="window.location.href='<%=raw escape_javascript url_for(@s_params.merge(sort_starred: params[:sort_starred] == '1' ? '' : '1')) %>';"></th>
    <th class="attach" title="添付ファイル">添</th>
    <th class="subject"><%= link_to_sort '件名', @s_params.merge(sort_key: :subject), class: 'sorter' %></th>
    <% if @mailbox.name =~ /^(Star)$/ %>
      <th class="mailbox"></th>
    <% end %>
    <th class="<%= @mail_list_from_address.blank? ? 'from' : 'fromOmitAddress' %>">
      <span class="caption">
        <% if @mailbox.name =~ /^(Sent|Drafts)(\.|$)/ %>
          <%= link_to_sort '受信者', @s_params.merge(sort_key: :to), class: 'sorter' %>
        <% else %>
          <%= link_to_sort '差出人', @s_params.merge(sort_key: :from), class: 'sorter' %>
        <% end %>
      </span>
      <% if params[:s_from] %>
        <%= link_to "≪絞込解除", url_for(@s_params.dup.except('s_from').merge(page: 1)), class: "cancelFromSearch" %>
      <% end %>
    </th>
    <th class="date"><%= link_to_sort '送信日時', @s_params.merge(sort_key: :date), class: 'sorter' %></th>
    <th class="size"><%= link_to_sort 'サイズ', @s_params.merge(sort_key: :size), class: 'sorter' %></th>
  </tr>
  <% items.each do |item| %>
    <%
      from, s_from, from_tooltip = mail_from_display(item, @mailbox, @mail_list_from_address.present?)
    %>
    <tr id="mail_<%= item.uid %>" class="mail <%= 'unseen' if item.unseen? %> <%= cycle '', 'cycle' %>"
      data-uid="<%= item.uid %>" data-url="<%= url_for(@s_params.merge(action: :show, id: item.uid, new_window: (@mail_open_window.blank? ? nil : 1))) %>">
      <td class="drag" id="drag_<%= item.uid %>" data-uid="<%= item.uid %>"></td>
      <td class="check"><input type="checkbox" name="item[ids][<%= item.uid %>]" value="1" data-uid="<%= item.uid %>" /></td>
      <td class="star <%= item.starred? ? 'starOn' : 'starOff' %>" id="mail_star_<%= item.uid %>" title="<%= 'スター' if item.starred? %>" data-uid="<%= item.uid %>"></td>
      <td class="attach">
        <% if item.has_attachments? %>
          <span class="attach" title="添付ファイル">有</span>
        <% end %>
      </td>
      <td class="subject <%= mail_flags(item).join(' ') %> <%= subject_wrap %>">
        <span class="overflowHidden <%= subject_wrap %>" title="<%= item.subject %>">
          <a href="<%= url_for(action: :show, id: item.uid) %>" style="float:left;">
            <span id="mail_<%= item.uid %>_labels" class="labels" style="<%= 'display:none;' if item.labels.count == 0 %>">
              <% item.labels.each do |label| %>
                <% if label_conf = @label_confs.find{|conf| conf[:id] == label} %>
                  <span class="label" style="background-color: <%= label_conf[:color] %>;"><%= label_conf[:name] %></span>
                <% end %>
              <% end %>
            </span>
            <span id="mail_<%= item.uid %>_label_loading" class="loading" style="display:none;"></span>
            <%= mail_text_wrap(truncate(item.subject, length: 70, escape: false).presence || ' ') %>
          </a>
        </span>
      </td>
      <% if @mailbox.name =~ /^(Star)$/ %>
        <td class="mailbox">
          <span class="overflowHidden">
            <%= @mailboxes.detect {|mbox| mbox.name == item.node.ref_mailbox }.try(:title) if item.node %>
          </span>
        </td>
      <% end %>
      <td class="from">
        <span class="overflowHidden" title="<%= from_tooltip %>">
          <%= link_to mail_text_wrap(from), url_for(@s_params.merge(s_from: s_from, page: 1)) %>
        </span>
      </td>
      <td class="date"><%= item.date %></td>
      <td class="size"><%= number_with_delimiter(item.size) %></td>
    </tr>
  <% end %>
</table>
