<% if maintenance = recent_maintenance %>
<div id="maintenance">
  <%= link_to "#{maintenance.title} #{I18n.l(maintenance.published_at)}", gw_webmail_mails_path('INBOX', mobile: :maintenance), class: 'maintenanceLink' %>
</div>
<% end %>

<div class="folderTitle">
  <span>フォルダ</span>
</div>
<%= render 'gw/admin/webmail/mails/shared/mailbox' %>

<div class="sendMenu">
  <div class="title"><span>送信メニュー</span></div>
  <div class="menus">
    <%= link_to 'メール作成', new_gw_webmail_mail_path('INBOX'), class: 'createMail' %><br />
    <%= link_to Joruri.config.application['webmail.sys_address_menu'], gw_webmail_sys_addresses_path, class: 'sysAddress' %>
    <%= link_to Joruri.config.application['webmail.address_group_menu'], gw_webmail_address_groups_path, class: 'addressGroup' %>
    <%= link_to Joruri.config.application['webmail.memo_menu'], gw_webmail_memo_path(0), class: 'memo' %>
  </div>
</div>

<% if Joruri.config.sso_settings %>
<div class="linkMenu">
  <div class="title">リンク</div>
  <div class="menus">
    <%= link_to 'グループウェア', _admin_sso_path(to: 'gw'), class: 'gw' %><br/>
  </div>
</div>
<% end %>

