<div id="signContent">
<%= render 'menu' %>

<table class="show">
  <tr>
    <th><%= @item.class.human_attribute_name :name %></th>
    <td><%= @item.name %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :body %></th>
    <td class="autoWrap mailBodyText"><%=mail_text_wrap @item.body, 10 %></td>
  </tr><tr>
    <th><%= @item.class.human_attribute_name :default_flag %></th>
    <td><%= @item.default_flag_text %></td>
  </tr>
</table>

</div>
