<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title><%= Core.title %></title>
<link href="/_common/themes/admin/login.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header"></div>

<%= form_tag do -%>
<%= hidden_field_tag :uri, h(@uri) %>

<div class="box">
  <h1>Joruri</h1>
  <div class="notice"><%= flash[:notice] %></div>
  <div class="fields">
    <span class="head">ユーザID</span><%= text_field_tag 'account', '' %>
    <br />
    <br style="line-height: 0.8;" />
    <span class="head">パスワード</span><%= password_field_tag 'password', '' %>
    <br />
  </div>
  <% 
    footer = t('sys.shared.login_footer_html')
    submitter_style = 'margin-top:14px' if footer.blank?
  %>
  <div class="submitters">
    <input class="login" type="image" src="/_common/images/blank.gif" alt="ログイン" value="" name="commit" style="<%= submitter_style %>" />
    <%= footer %>
  </div>
</div>

<% end -%>

<div class="copyright">Powered by Joruri</div>

</body>
</html>
