<%
params[:group_id] = nil if params[:clear]

@group = Webmail::AddressGroup.new(id: 0, name: 'すべて')
if params[:group_id].present?
  gid = params[:group_id].to_i
  if gid != 0
    @group = Webmail::AddressGroup.find(params[:group_id])
    @items = @group.addresses.order(Webmail::Setting.load_address_orders)
  end
end
%>

<div class="addressGroupTitle">
  <%= Joruri.config.application['webmail.address_group_menu'] %>
</div>

<%= form_tag webmail_address_groups_path, { id: 'groupForm', name: 'groupForm', class: 'groupForm', method: :get } do |f| %>
  グループ：<%= select_tag :group_id, options_for_select(
  [['すべて', 0]] + @root_groups.map(&:descendant_options).flatten(1), @group.id), class: 'selectUI', :onchange => "changeSelection();" %><br/>
  <%#= submit_tag '検索', name: 'select', class: 'search' %>
  <%= submit_tag 'リセット', name: 'clear', class: 'reset' %>
<% end %>

<div id="nowLoading" class="nowLoading" style="display:none;">Now Loading...</div>

<%= form_for :item, url: mobile_manage_webmail_address_groups_path, html: { id: 'mailForm', name: 'mailForm', class: 'mailForm' } do |f| %>
  <%= hidden_field_tag :group_id, params[:group_id] %>

  <div class="groupTitle"><%= @group.name%></div>

  <% if @items.blank? %>
    <div class="notice">登録アドレスはありません。</div>
  <% else %>
    <table class="index">
      <tr>
        <th class="checkUI">TO</th>
        <th class="checkUI">CC</th>
        <th class="checkUI">BCC</th>
        <th>名前</th>
      </tr>
      <% @items.each do |u| %>
      <tr>
        <td class="checkUI"><input type="checkbox" name="to[<%= u.id %>]" value="1" class="checkUI" /></td>
        <td class="checkUI"><input type="checkbox" name="cc[<%= u.id %>]" value="1" class="checkUI" /></td>
        <td class="checkUI"><input type="checkbox" name="bcc[<%= u.id %>]" value="1" class="checkUI" /></td>
        <td><%= link_to mail_text_wrap("#{u.name} <#{u.email}>"), webmail_address_path(u.id, group_id: @group.id), class: 'address' %></td>
      </tr>
      <% end %>
    </table>
    <%= submit_tag 'アドレス選択', name: 'selectAddress', class: 'selectAddress' %><br />
  <% end %>

  <% if [:to, :cc, :bcc].any? { |type| session[:mobile] && session[:mobile][type].present? } %>
    <div class="selectedAddressesTitle">選択済みアドレス</div>
    <table class="selectedAddresses">
    <% [:to, :cc, :bcc].each do |type| %>
      <% if session[:mobile][type].present? %>
        <tr><th colspan="2"><%= type.upcase %></th></tr>
        <% session[:mobile][type].each_with_index do |u, idx| %>
        <tr>
          <td><%= submit_tag '削除', name: "deleteAddress=#{type}_#{idx}", class: 'deleteAddress' %></td>
          <td><%= mail_text_wrap u %></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
    </table>
  <% end %>

  <% if [:to, :cc, :bcc].any? { |type| session[:mobile] && session[:mobile][type].present? } || @items.present? %>
    <%= submit_tag 'メール作成', name: 'createMail', class: 'createMail' %>
  <% end %>
<% end %>

<script type="text/javascript">
//<![CDATA[
$(function() {
  $('#group_id').on('change', function() {
    $('#nowLoading').show();
    $('#mailForm').hide();
    $('#groupForm').submit();
  });
});
//]]>
</script>
