<p class="form">グループをエクスポート</p>

<%= form_for :item, url: { action: :export }, html: { method: :post } do |f| %>
  <%= hidden_field_tag :do, 'groups' %>
  <%= submit_tag 'エクスポート', style: 'width: 120px;' %><br />
<% end %>

<br />
<p class="form">ユーザーをエクスポート</p>

<%= form_for :item, url: { action: :export }, html: { method: :post } do |f| %>
  <%= hidden_field_tag :do, 'users' %>
  <%= submit_tag 'エクスポート', style: 'width: 120px;' %><br />
<% end %>
